/* Min Width Media Queries */
@media (min-width: 576px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 100%;}
	.review-tab-pane .custom-control {padding-left: 0 !important;}
}

@media (min-width: 768px){
	/*==AB==*/
	.tab-container .panel-heading { display: none;}
	.tab-container .panel { border: none; box-shadow: none;}
	.tab-container  .panel-collapse { height: auto;}
	.tab-container  .panel-collapse.collapse { display: block;}
}

@media (min-width: 991px){
	/*==AB==*/
	.fancybox-prev  { left: -75px;}
	.fancybox-next { right: -75px;} 
}

@media (min-width: 1300px){
	.container {max-width: 1230px;}
}

@media (min-width: 2000px){
	/*==dp==*/
	.message-section-wrap { min-height: 885px;}
	#contacts { max-height: 635px;}
	.messages { height: 798px;}
	.message-section-wrap { max-width: 1780px;}
}
@media (min-width: 1713px){
	/*==dp==*/
	.message-left, .message-right { max-width: 21.5%; flex: 0 0 21.5%;}
	.message-center { max-width: 57%; flex: 0 0 57%;}
}

/* Max Width Media Queries */

@media screen and (max-width: 1600px){
	.hero-banner header .overflowObject { right: auto;   top: auto;  bottom: 0;}
	.overflowObject img {max-width: 100%;}
}

@media  screen and (max-width: 1535px){
	/*==dp==*/
	#contacts .contact .wrap p.time { font-size: 11px; margin-bottom: 2px;}
	#contacts .contact .wrap p.preview { font-size: 13px; line-height: 17px;}
	#contacts .contact .wrap p.name { font-size: 15px; line-height: 18px; margin-bottom: 3px;}
	.contact-list form { max-width: 85%;}
	.contact-list .form-inline select.form-control { font-size: 16px;}
	#contacts .contact .wrap p.unread { width: 18px; height: 18px; font-size: 10px;}
	.profile-wrap-right { width: 85%; margin: 0 auto;}
	.profile-wrap-right .btn { min-width: 47%;}
	.profile-wrap-right h4 { font-size: 20px;}
	.profile-wrap-right p { font-size: 14px; line-height: 23px;}
}
@media screen and (max-width: 1440px){
	.hero-banner header {height: 500px;}
	header .more-info h1 {line-height: 55px; font-size: 48px;}
}

@media screen and (max-width: 1230px){ 
	/*==DP==*/
	ul.client-satisfication li span:first-child {  min-width: 315px; width: 40%;}   
	ul.client-satisfication li span:last-child {  width: 43%;}   

	/*==AB==*/
	.social-links-setting-wrap ul li { max-width: 49%;}

}

@media screen and (max-width: 1199px){
	.hero-banner header {height: auto;}
	.h-100 { height: auto !important;}
	header .more-info, .hero-banner header .overflowObject { position: static; transform: initial; padding: 80px 0 0;}
	header .more-info h1 {font-size: 40px;}
	.navbar-collapse { padding-top: 10px;}
	.form-inline {position: absolute;  bottom: 30px;  opacity: 0;  visibility: hidden;}
	.navbar-collapse.show .form-inline {visibility: visible; opacity: 1;}
	nav.navbar-light .items-main li + li { margin-left: 0;}
	.navbar-nav.items-main li {  width: 100%;}
	.wall ul .list-inline-item:not(:last-child){ margin-right: 18px;}
	.customer_section .swiper-control .swipe-btn {width: 44px;height: 44px;}
	.customer_section .swiper-control { bottom: 60px; top: auto; max-width: 100px; margin: 0;}
	.global_space.customer_section { padding-bottom: 150px;}
	.offerBox ul {padding: 25px 20px;}
	header .oneliner { margin-bottom: 20px;}
	.offerBox .btn.btn-theme {bottom: 24px;}    
	nav.navbar-light .items-main li { border-bottom: 1px solid #dddddd57;}
	nav.navbar-light .items-main li .nav-link { padding: 12px 0;}
	.header_search.header-login { width: 155px;}
	li.dropdown.notification-list span.account-user-avatar img { width: 28px; height: 28px;}
	.header-login li.dropdown.notification-list a { padding: 0; border-bottom: none;}
	.header-login li { margin: 0 7px;}
	.nav-link.dropdown-toggle:after { width: 8px; background-size: contain; top: 7px;}
	.header-login li.dropdown.notification-list a.dropdown-item { padding: 10px;} 
	.header-login li.dropdown.notification-list a.dropdown-item span { font-size: 13px; font-weight: 600; color: #24262b; text-transform: uppercase;}
	.jobs-found-info .filter-info .form-inline { position: static; opacity: 1; visibility: visible;}
	.jobs-found-info { display: block;}
	.jobs-found-info .found-jobs { margin-bottom: 18px;}
	.box-content .search-job-form { display: block;}
	.box-content .search-job-form .btn-wrap { justify-content: flex-start; width: auto; margin-top: 15px;}
	.box-content .search-job-form .btn-wrap .btn { margin-right: 10px;}
	#accordion .card .card-body .body-inner table th, #accordion .card .card-body .body-inner table td { display: flex; padding: 7px 25px; width: 100%;}
	#accordion .card .card-body .body-inner table th { display: none;}
	#accordion .card .card-body .body-inner table th:first-child { display: block;}
	#accordion .card .card-body .body-inner table td { font-size: 15px;}
	#accordion .card .card-body .body-inner table td:first-child { font-size: 16px; font-weight: 600; padding-top: 15px;}
	#accordion .card .card-body .body-inner table td:last-child { padding-bottom: 15px;}
	#accordion .card .btn-link h5 { font-size: 18px;}
	#accordion .card .card-body .body-inner table thead { display: none;}
	.bg-gray-wrap h2 { font-size: 26px;}

	/*==DP==*/
	.progress.circle .progress-value {   height: 100% !important;}   
	.big-text-progressbar {  margin-bottom: 50px;}
	.contact-list form.form-inline, .profile-wrap-right form.form-inline { position: static; opacity: 1;  visibility: visible;}
	.message-right-sidebar { border-bottom: 1px solid #dee2e6; padding-bottom: 50px;}
	.profile-wrap-right .btn { min-width: 150px;}
	.signup-step-container #step6 .form-check-inline .cs-checkbox { width: 100%; min-width: 100%;}

	/*.signup-step-container #step6 .form-check-inline { margin: 0;}*/

	/*==ZP==*/
	.jobs-cards .card {padding: 20px 40px 20px 20px;}
	/*==ZP (03/09/2020)==*/
	.dowanload_csv .btn.btn-theme-border { padding: 7px 20px 7px 22px;}
	.jobs-cards.historyPage > .box-header {padding: 18px 17px;}

	/*==AB==*/
	.blue-box { padding: 20px;}
	.proposal-box-card ul.feed-tabs li a { padding: 8px 7px;}
	.proposal-box-card .form-inline{ position: static; opacity: 1; visibility: visible; margin-top: 10px;}
	.rate-wrap p { text-align: left; width: 100%;}
	.ss-img .img-wrp { max-width: 100%;}
	span.green-progress-bar.single-ss-green-progress-bar { width: 24%;}
	.tab-table-wrap { padding: 20px;}
	.tab-container h2 { padding: 20px 0;}
	.profile-setting-page .setting-box-detail .form-check label.form-check-label br { display: none;}
	.experience-checkbox-wrap  .cs-checkbox { max-width: 210px; width: 100%; min-width: auto;}
	.main-hcekbox.d-flex.experience-checkbox-wrap  .form-check-inline{ margin-bottom: 20px; margin-right:4px;}
	.client-job-page .jobs-cards > .box-header { padding: 18px 30px;}
	.client-job-page .jobs-cards > .box-content { padding: 0px 10px;}
	.experience-checkbox-wrap.clock-checkbox-wrap  .cs-checkbox { min-width: auto; padding: 20px 4px;}
	.experience-checkbox-wrap.clock-checkbox-wrap  .cs-checkbox p { font-size: 12px !important; line-height: 19px !important;}

}

@media screen and (max-width: 991px){
	header .more-info h1 { line-height: 40px; font-size: 35px;  padding: 40px 0 0;}
	.wall {padding: 15px; display: block;}
	.wall .list-inline {display: none;}
	.wall .btn {width: 100%;}
	header .more-info, .hero-banner header .overflowObject { padding: 0;}
	.offerBox {padding-bottom: 40px; height: auto; margin-bottom: 30px;} 
	.scopeBox {padding: 30px;}
	.workBox { padding-bottom: 30px;}
	footer ul li, footer ul li a, footer ul li a:visited { font-size: 15px;}
	.foo_com_name {font-size: 28px;}
	.offerBox .btn.btn-theme {position: static;}
	.normal-title { font-size: 22px;}

	/*==MD==*/
	.btn-setting-dropdown-link{ width: 100%; text-align: left; background-image: url(../images/down-arrow.png); background-repeat: no-repeat; background-position: right 50%; padding: 0;}
	.btn-setting-dropdown-link:hover,
	.btn-setting-dropdown-link:focus{ box-shadow: none;}
	.setting-link-dropdown-menu{ width: 100%;}
	.setting-links > li > span{ padding: 8px 20px; font-size: 16px;}
	.setting-sub-links > li > a{ padding: 10px 40px; font-size: 14px;}

	/*==DP==*/
	.box-header.big-header .inner-big ul li span {  min-width: 235px;}
	#contacts .contact .wrap p.time { font-size: 9px;}
	#contacts .contact .wrap img { width: 40px; height: 40px;}
	#contacts .contact .wrap .user-image { font-size: 16px;}

	/*==ZP==*/
	.jobs-cards .grid-item { width: 50%;}    
	.nav-tabs.commonTabs .nav-link{    padding: 11px 20px;}
	/*==ZP (03/09/2020)==*/
	.historyPage .dowanload_csv {margin-top: 15px;}
	/*==ZP (04/09/2020)==*/
	.nullTxt {margin-bottom: 15px;}

	/*==AB==*/
	.skill-text { width: 100%; margin-right: 0;}
	.proposal-box-card .icon-wrap{ width: 100%;}
	.proposal-box-card .icon-wrap p { min-width: auto; width: 100%; text-align: left; max-width: 100%;}
	.proposal-box-card .box-header h5 { text-align: left; width: 100%;}
	.proposal-box-card ul.feed-tabs { width: 100%;}
	.work-diary-page select.form-control { min-width: 200px;}
	.calendar-wrap { margin-top: 20px;}
	a.btn.btn-outline-primary { margin-left: 0; margin-bottom: 5px; margin-right: 8px; margin-top: 10px;}
	.total-info-wrap p { margin-right: 10px;}
	span.green-progress-bar.single-ss-green-progress-bar { width: 32%;}
	.tab-link a { margin-top: 20px; display: inline-block;}
	.tab-body p.info-para { margin-top: 12px;}
	.main-hcekbox.d-flex.experience-checkbox-wrap { flex-wrap: wrap;}
	.client-job-page .proposals-box ul { flex-wrap: wrap;}
	.experience-checkbox-wrap.clock-checkbox-wrap  .cs-checkbox { min-width: 100%;}
	.details-tab-pane .form-group input.form-control::placeholder,.details-tab-pane .form-control::placeholder { font-size: 14px;}
	.signup-step-container .visibility-tab-pane .job-checkbox .cs-checkbox {min-height: auto;}

	.main-hcekbox.d-flex.experience-checkbox-wrap .form-check-inline {
		width: auto !important;
		min-width: 200px;
	}
}

@media screen and (max-width: 767px){  
	.section_title { font-size: 25px;line-height: 30px; margin-bottom: 35px;}
	.allCategory {margin-top: 20px;}
	.agencies_box h3 { font-size: 17px; margin-bottom: 16px;max-width: 100%;}
	.global_space { padding: 50px 0;}
	.social_icons { margin-bottom: 30px;}
	.contact_details { padding-bottom: 10px;}
	.footer_menu {  width: 100%;  float: left; margin-bottom: 20px;}
	.footer_menu li { width: 50%; float: left;}
	.foo_title {line-height: 30px;}
	.footerBtm {padding: 30px 0;}
	.global_space.footerTop { padding-bottom: 30px;}
	.foo_title { font-size: 18px;}
	.customerBox {padding: 30px;}
	.customerBox p { padding: 28px 0 30px 0;}
	.customerBox p { line-height: 28px;}  
	p{ font-size: 14px; line-height: 24px;}
	.offerBox ul {  min-height: inherit; padding: 30px;}
	.common_box { margin-bottom: 30px; height: auto;}
	.agencies_box .common_box {margin-bottom: 0;}    
	header .more-info h1 { line-height: 40px; font-size: 32px;}
	header .oneliner {margin-bottom: 30px; font-size: 16px;}
	.looking_for_section p {margin-bottom: 10px; font-size: 16px;}
	.authImg {  width: calc(100% - 216px);} 
	.workBox h3 {  font-size: 16px;}
	.scopeBox h3 {font-size: 18px;}
	.offerBox h3 { font-size: 20px; padding: 20px 0;}
	.offerBox h4 { padding: 12px 0;font-size: 18px;}
	.loginOutCanvas { max-width: inherit; width: 100%; padding: 30px 45px;}
	.account-process .loginOutCanvas { max-width: inherit; width: 100%;}
	.bg-gray-wrap { padding: 60px 0;}
	ul.page-links li { margin-right: 22px;}
	ul.page-links li a { font-size: 14px;}
	.jobs-found-info .filter-info .select-wrap, .jobs-found-info .filter-info .btn-group { margin-bottom: 15px !important;}
	.jobs-found-info .filter-info .select-wrap { width: auto; display: inline-flex; align-items: center;}
	.form-group label { width: auto; margin-bottom: 0;}
	.jobs-found-info .filter-info .select-wrap select.form-control { width: auto;}
	.bg-gray-wrap h2 { font-size: 24px;}

	/*==DP==*/
	ul.client-satisfication li span:last-child { width: 100%; margin-top: 7px;}   
	ul.client-satisfication li .profile-progress span:last-child {  width: 80px;}   
	.box-header.big-header .inner-big ul li span {  width: 100%; display: block;}   
	.box-header.big-header .inner-big ul.list-graph li { display: block;}   
	.box-header.big-header .inner-big ul li span {top: 0;}  
	ul.client-satisfication li .profile-progress span:last-child {  font-size: 14px; margin-top: 0;}   
	ul.client-satisfication li span:first-child { min-width: 100%;}   
	.box-header.big-header.box-footer a { font-size: 14px; padding-left: 30px; position: relative;}   
	.box-header.big-header .inner-big ul li p { font-size: 14px;}   
	.box-header.big-header h4 { font-size: 18px;}   
	.box-header.big-header .inner-big p { font-size: 16px; margin-bottom: 15px;}   
	.box-header.big-header.box-footer a img { position: absolute; left: 0; top: 0;}   
	.progress.circle {  width: 200px;   height: 200px;}   
	.progress.circle .h2 {  font-size: 32px;}   
	.progress.circle .h2 span { font-size: 14px;}   
	span.profile-views { text-align: left;   margin: 20px 0 10px; color: rgba(36, 38, 43, 1);}
	.mobile-wrap { display: none;}
	.mobile-wrap.active { position: fixed; top: 0; min-height: 100vh; background: #fff; z-index: 2; left: 0; display: block; width: 100%;}
	.messages { height: calc(100vh - 110px);}
	.messages ul li img.user-icon { width: 35px; height: 35px;}
	.messages ul li.sent img.user-icon { margin-right: 10px;}
	.messages ul li.replies img.user-icon { margin-left: 10px;}
	.messages ul li .user-chat img { width: 220px;}
	.message-input .wrap input { font-size: 14px;}
	.message-input .wrap button i { font-size: 25px;}
	.attachment-items img { width: 19px;}
	.attachment-items a, .attachment-items button { margin: 0 5px;}
	.message-input .wrap button { padding: 0;}
	.message-input .wrap { height: 60px;}
	.mobile-wrap .top { border-bottom: 1px solid #dee2e6; padding: 15px;}
	.mobile-wrap .top span.back i { font-size: 16px; margin-right: 30px;}
	.mobile-wrap .top span.name { font-weight: 700; color: #0456fe;}
	.mobile-wrap .top span { font-size: 16px;}
	.contact-list form.form-inline .form-group { margin-bottom: 0;}
	.contact-list form .input-group { height: 40px;}
	.message-section-wrap { min-height: calc(100vh - 77px);}
	#contacts { height: calc(100vh - 315px); max-height: 100%;}

	.icon-wrap a.btn { width: auto;}

	/*==MD==*/
	.setting-box .setting-box-content{padding: 20px;}
	.setting-box .setting-box-content .setting-box-detail h5{font-size: 16px;}
	.setting-box .setting-box-content .setting-box-detail p,
	.setting-box .setting-box-content a{font-size: 14px;}

	/*==ZP==*/
	.jobs_top h4 span {margin-left: 0;}
	.jobs-cards .grid-item { width: 100%;}
	.jobs_top > h2{margin-bottom: 12px;}
	.jobs-cards .find-form { max-width: 100%;   margin-top: 15px !important;}
	.nav-tabs.commonTabs .nav-link { padding: 11px 11px;}
	/*==ZP (27/08/2020)==*/
	.contracts_section .looking_for_section p { text-align: center;}
	.sortByMain,.sortBy {justify-content: inherit !important;}
	.randomBtm {margin-left: 0 !important;}
	.dowanload_csv { margin-top: 15px;}
	.contracts_section .find-form{max-width: 100%; width: 100%;}
	/*==ZP (03/09/2020)==*/
	.balanceBox {    margin: 5px 0; text-align: left;}
	.jobs-cards.historyPage > .box-header {padding: 18px 20px;}
	.randomBtm.filterBtn {margin-bottom: 0;}
	.clndr-input.datepicker-style-2 {margin-left: 0; margin-right: 10px;}
	/*==ZP (04/09/2020)==*/
	.formMain .form-control {margin-bottom: 20px;}
	.grayTxt.selectNote {padding-top: 0;}
	.nullTxt {font-size: 32px;line-height: 32px;}

	/*==AB==*/
	.feed-box-wrap .box-header, .feed-box-wrap .box-content { padding: 20px 20px 30px;}
	.work-detail h5 { line-height: 20px !important;}
	.full-feed-box-wrap .box-header { padding: 20px  !important;}
	.media.certi-box img { max-width: 70px; width: 100%;}
	img.plus-icon { max-width: 16px !important; width: 100% !important;}
	.trash-icon a { font-size: 15px; width: 15px;}
	.trash-icon { min-width: 50px; text-align: right; justify-content: flex-end;}
	.price-box p, .price-box p span { text-align: left; display: block;}
	.card.box-card.proposal-box-card .box-content { padding: 20px;}
	.card.box-card.proposal-box-card .box-header { padding: 20px;}
	.proposal-box-card .box-header h5 { font-size: 18px;}
	.proposal-box-card .form-group label { font-size: 16px; padding-bottom: 10px;}
	.blue-box { margin-bottom: 15px;}
	.additional-box-content .blue-box { margin-top: 0;}
	.file-drop-area {margin: 0 0 20px;}
	.feed-box-wrap .box-content h5 { font-size: 18px; line-height: 28px;}
	.price-box { min-width: 90px; padding-bottom: 12px;}
	.tab-container h2 { padding: 20px; text-align: left;}
	.tab-container h2 span { text-align: left;}
	.tab-container .panel-title a { border: 1px solid #f0f0f0; background-color: #f5f8ff; margin: 20px 15px 2px;}
	.tab-container { padding-bottom: 20px;}
	.tab-container .tab-content .tab-pane { display: block;}
	.tab-container .nav-tabs { display: none;}
	.tab-container .panel-title a { display: block;}
	.tab-container .panel { margin: 0; box-shadow: none; border-radius: 0; margin-top: -2px;}
	.tab-container .tab-pane:first-child .panel { border-radius: 5px 5px 0 0;}
	.tab-container .tab-pane:last-child .panel { border-radius: 0 0 5px 5px;}
	.btn.btn-theme.time-btn.specialized-btn { min-width: 183px;}
	.social-links-setting-wrap ul li { width: 100%; max-width: 100%;font-size: 14px;}
	.client-job-page .work-detail h5 { max-width: 310px;}
	.signup-step-container   .btn.btn-theme { min-width: 137px;}
	.signup-step-container .feed-head span { font-size: 14px;}
	.signup-step-container h4.text-center.d-block.d-md-none { margin-bottom: 15px; font-weight: 700;}
	.experience-checkbox-wrap.clock-checkbox-wrap .cs-checkbox p { font-size: 14px !important;}
}

@media screen and (max-width:640px){ 
	.loginOutCanvas { padding: 30px 20px;}

	/*==DP==*/
	.box-header.big-header { padding: 20px;}   
	ul.client-satisfication li .profile-progress span:last-child { font-size: 14px;  margin-top: 0;}   
	ul.client-satisfication li span:first-child { min-width: 100%;}

	/*==AB==*/
	span.green-progress-bar.single-ss-green-progress-bar { width: 49%;}
	.client-job-page .work-detail h5 { max-width: 260px;}
}

@media screen and (max-width:576px){ 
	.skills ul{columns: 1;}
	.site_map_menu {margin-top: 20px;}    
	.loginOutCanvas .custom-checkbox label, .loginOutCanvas .fg-password { font-size: 13px;}
	.signin-choice li { width: 100%;}
	.signin-choice .list-inline-item:not(:last-child){ margin-right: 0; margin-bottom: 15px;}
	a.navbar-brand { max-width: 160px;}

	/*==MD==*/
	.billing-card-list ul > li{margin: 0 0 10px;}

	/*==ZP==*/
	.nav-fill.commonTabs .nav-item {display: block; text-align: center;  font-size: 14px;}
	/*==ZP (27/08/2020)==*/
	.sortBy {display: block!important;}
	.sortBy p {padding:0;}
	.randomBtm {margin-bottom: 10px;}
	/*==ZP (03/09/2020)==*/
	.historyPage .dowanload_csv .btn {width: 100%;}
	/*==ZP (04/09/2020)==*/
	.btn.btn-theme-border.cancelBtn {min-width: 132px;}
	.btn.btn-theme.sendBtn {margin-bottom: 0;}

	/*==DP==*/
	.profile-wrap-right .btn-wrap { flex-direction: row;}
	.profile-wrap-right .btn { min-width: 120px;}

	.box-card .box-content .w-100 .nav-fill.commonTabs .nav-item { display: inline-flex; width: auto;}
	.box-card .box-header .feed-header .user-info .user-inner-info .preview { line-height: 20px;}

	/*==AB==*/
	.experience-checkbox-wrap .cs-checkbox { max-width: 100%;}
	.client-job-page .jobs-cards .grid-item { width: 100%; margin-bottom: 15px;}
	.client-job-page .work-detail h5 { max-width: 100%;}
	.feed-para{ width: 100%;}
	.client-job-page  .trash-icon { min-width: 50px; text-align: left; justify-content: start; width: 100%; margin-left: 0 !important;}

	.main-hcekbox.d-flex.experience-checkbox-wrap .form-check-inline {
		width: 100% !important;
		min-width: auto;
		margin-right: 0;
	}
	.signup-step-container #step6 .hourly-range input.form-control,.hourly-range,.signup-step-container #step6 .d-flex.align-items-center.my-2 span.to-span {
		width: 100%;
	}
}

@media screen and (max-width:535px){
	.main-hcekbox .form-check-inline { width: 100%; margin: 0 0 20px 0;}
	.main-hcekbox .form-check-inline label { width: 100%;}
	.main-hcekbox { width: 100%;}
	.middle-card .meta-tag { display: block;}
	.middle-card .meta-tag li { width: 100%; display: inline-flex; margin-bottom: 7px;}
	ul.feed-tabs li a { padding: 5px 10px; font-size: 12px;}
	ul.feed-tabs li { margin-right: 5px; margin-bottom: 5px;}
	.middle-card .box-header h5 { font-size: 18px;}
	.middle-card .box-header h5 span { margin-top: 5px;}
	.icon-wrap i { width: 30px; height: 30px; font-size: 14px;}
}
@media screen and (max-width:513px){
	.main-hcekbox .form-check-inline { width: 100%; margin: 0 0 20px 0;}
	.main-hcekbox .form-check-inline label { width: 100%;}
	.main-hcekbox .cs-checkbox { width: 100%; min-width: inherit;}
	.togglesearch { padding: 10px; width: 265px;}
	.togglesearch input[type="text"] { margin-left: 0; width: calc(100% - 80px);}
	.notificatio-wrap .dropdown-menu-right { right: -20px; left: auto; margin: 0 auto; width: 260px;}
	.togglesearch { right: -50px;}
	.togglesearch:before { right: 40px;}
	.pagination li { margin: 0 3px;}
	.page-item:last-child .page-link, .page-item:first-child .page-link { font-size: 0 !important;}
	.page-item:last-child .page-link i, .page-item:first-child .page-link i { font-size: 14px; line-height: 17px;}
	.pagination li .page-link, .page-item.disabled .page-link { font-size: 14px; padding: 8px 13px;}
	ul.page-bottom-links li a { font-size: 14px;}
}
@media screen and (max-width: 480px){
	/*==DP==*/
	.box-card .box-header .feed-header .user-info .user-inner-info li .profile-progress { display: block !important;}
	.box-card .box-header .feed-header .user-info .user-inner-info li .progress { margin-left: 0; margin-top: 9px;}
	.box-card .box-header .feed-header .user-info img.user-img { width: 55px; height: 55px;}
	.box-card .box-header .feed-header .user-info .user-inner-info { margin-left: 12px;}
}
@media screen and (max-width:479px){
	/*==ZP==*/
	.middle-card.freelancerForm .box-header h5 span { width: 100%;}

	/*==AB==*/
	.feed-detail.work-detail { flex-direction: column;}
	.testimonial-media .media-body .feed-head { flex-direction: column;}
	.visible-wrap { width: 100%;}
	.btn-wrap { flex-direction: column;}
	.middle-card .box-header h5 span { margin-top: 15px; display: block; margin-left: 0 !important; top: 0; width: 50%;}
	span.green-progress-bar.single-ss-green-progress-bar { width: 100%;}
	.client-job-page a.btn.btn-theme.btn-radius { min-width: auto;}


}
@media screen and (max-width:375px){ 
	.header_search.header-login { width: 135px;}
	.header-login li { margin: 0 5px;}
	a.navbar-brand { max-width: 140px; margin-right: 0;}
	.notificatio-wrap .dropdown-menu-right { right: -60px;}
	.togglesearch { width: 235px;}
	.togglesearch input[type="button"] { width: 68px;}
	.togglesearch input[type="text"] { width: calc(100% - 66px);}
	.box-content .search-job-form .btn-wrap .btn { margin-right: 5px;}
	.box-content .search-job-form .btn-wrap a { padding: 9px 12px !important;}
	.btn.btn-theme { margin-bottom: 10px;min-width: 145px;}

	/*==AB==*/
	.feed-box-wrap .box-content h5 { font-size: 15px; line-height: 24px;}
	.client-job-page .jobs-cards > .box-header { padding: 15px;}
	.client-job-page .jobs-cards > .box-content { padding: 0;}
	.client-job-page .jobs-cards .card { padding: 10px 50px 10px 10px;}
	.client-job-page   .jobs-cards .grid { margin: 41px -15px 20px;}
}

@media screen and (max-width:350px){ 
	.author_detail { display: block !important;}
	.authImg { width: 100%; margin-bottom: 10px;} 
	nav .input-group {min-width: 270px;}
	.footer_menu li {width: 100%;}
}