html{box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-moz-text-rendering:optimizelegibility;text-rendering:optimizelegibility}body{font-size:14px;background:#fff;font-family:'Open Sans',sans-serif;font-weight:400;color:#24262b}:after,:before{box-sizing:inherit}body,h1,h2,h3,h4,h5,h6,ol,p,ul{margin:0;padding:0;font-weight:400}h1{font-family:Gilroy;font-weight:700}input{outline:0}a{outline:0!important;transition:.3s all ease-in-out;border-bottom:1px solid transparent}a:active,a:focus,a:hover,a:visited{text-decoration:none;color:#0456fe;border-bottom:1px solid #0456fe}a[href^=tel]{color:inherit;text-decoration:none}.btn{border-radius:0;transition:.3s all ease-in-out}input[type=text]:focus{box-shadow:none;outline:0;border-color:#ced4da}
h2 {font-weight:700;}
h5 {font-weight: 600;}
/*==JS==*/
.form-control::-webkit-input-placeholder { font-size: 14px; font-weight: 400; color: rgba(36, 38, 43, 0.5); font-family: 'Open Sans',sans-serif;}
.form-control:-ms-input-placeholder { font-size: 14px; font-weight: 400; color: rgba(36, 38, 43, 0.5); font-family: 'Open Sans',sans-serif;}
.form-control::placeholder { font-size: 14px; font-weight: 400; color: rgba(36, 38, 43, 0.5); font-family: 'Open Sans',sans-serif;}
.input-group input::-webkit-input-placeholder { font-size: 16px;}
.input-group input:-ms-input-placeholder { font-size: 16px;}
.input-group input::placeholder { font-size: 16px;}
.font-w-600 { font-weight: 600 !important;}

/*navigation*/
nav input[type="text"] { border-right: 0;}
nav .input-group-prepend { background: transparent;}
nav .input-group { min-width: 299px;}
nav .input-group-prepend .icon { color: rgba(36, 38, 43, 0.5);}
nav .input-group-prepend .input-group-text { background: transparent; border-left: 0;}
.input-group>.input-group-prepend:not(:first-child)>.input-group-text { border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
nav.navbar-light .items-main li .nav-link { font-size: 13px; font-weight: 600; color: #24262b; text-transform: uppercase; transition: 0.3s all; border-bottom: 0px;}
nav.navbar-light .items-main li .nav-link:hover { color: #0456fe; border-bottom: 0px;}
nav.navbar-light .items-main li .nav-link.btn-theme { color: #fff; letter-spacing: 0.975px; background: #0456fe; border-radius: 5px; border: 0; min-width: 109px; display: flex; align-items: center; justify-content: center; padding: 10px;}
nav.navbar-light .items-main li .nav-link.btn-theme:hover { background: #1e68ff;}
nav.navbar-light .items-main li .nav-link.btn-theme .icon { font-size: 15px; margin-right: 5px;}
nav.navbar-light .items-main li+li { margin-left: 15px;}
nav .navbar-brand:hover,nav .navbar-brand:focus,nav .navbar-brand:active,nav .navbar-brand:visited { border: 0 !important; text-decoration: none;}
a.navbar-brand { max-width: 200px; padding: 0; color: transparent !important; border: 0 !important;}
a.navbar-brand img { width: 100%;}

/*catogory*/
.wall { background: #f7f7f7; padding: 6px 7px 6px 20px; border-radius: 5px; margin-top: 10px; display: flex; align-items: center; justify-content: space-between;}
.wall ul .list-inline-item:not(:last-child) { margin-right: 30px;}
.wall ul li a { font-size: 14px; font-weight: 600; color: #24262b; letter-spacing: 0.14px; transition: 0.3s all; border-bottom: 0px;}
.wall ul li a:hover { color: #0456fe; border-bottom: 0px;}
.wall .btn { background: #fff; font-size: 14px; font-weight: 600; display: flex; align-items: center; border: 1px solid #e7e9ef; border-radius: 5px; padding: 11px 18px;}
.wall .btn:hover { background: #0456fe; color: #fff;}
.wall .btn .icon { margin-right: 8px; transition: 0.3s all;}
.wall .btn:hover .icon { filter: brightness(0) invert(1);}

/*default button*/
.btn.btn-theme { color: #fff; background: #0456fe; font-size: 16px; font-weight: 600; padding: 14px 15px; min-width: 175px; border-radius: 5px;}
.radius-none { border-radius: 0;}
.btn.btn-theme:hover { background: #1e68ff;}
.btn.btn-theme-border { color: #0456fe; border: 2px solid #0456fe; font-size: 16px; font-weight: 600; padding: 12px 15px; min-width: 195px; border-radius: 5px;}
.btn.btn-theme-border:hover { color: #487ae0; border: 2px solid #487ae0;}
.btn-link { font-size: 16px; font-weight: 600; border-bottom: 1px solid #0456fe;}
.btn-link:hover { border-bottom: 1px solid transparent;}
.wide { display: block; width: 100%;}

/*Header*/
.hero-banner header { position: relative; width: 100%; height: 615px;}
.hero-banner header .overflowObject { position: absolute; right: -105px; top: 0;}
header .more-info { position: absolute; top: 50%; transform: translateY(-50%); z-index: 1;}
header .more-info h1 { font-size: 60px; line-height: normal; letter-spacing: -0.6px; margin-bottom: 12px;}
header .oneliner { font-size: 18px; line-height: normal; font-weight: 600; margin-bottom: 50px; display: block;}
.top-navigation .navbar .navbar-toggler { float: right; border: none; padding-right: 0;}
.top-navigation .navbar .navbar-toggler .navbar-toggler-icon { width: 24px; height: 17px; background-image: none !important; position: relative; border-bottom: 1px solid #000; transition: all 300ms linear; margin-top: -8px;}
.top-navigation .navbar .navbar-toggler .navbar-toggler-icon:after, .top-navigation .navbar .navbar-toggler .navbar-toggler-icon:before { width: 24px; position: absolute; height: 1px; background-color: #000; top: 0; left: 0; content: ""; z-index: 2; transition: all 300ms linear;}
.top-navigation .navbar .navbar-toggler .navbar-toggler-icon:after { top: 8px;}
.top-navigation .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon { border-color: transparent;}
.top-navigation .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after { transform: rotate(45deg);}
.top-navigation .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before { transform: translateY(8px) rotate(-45deg);}
.top-navigation .navbar .navbar-toggler:focus { outline: none;}
li.searchbar { cursor: pointer;}
.togglesearch{ background: #fff; position: absolute; top: 50px; right: -20px; width: 350px; padding: 15px 0; box-shadow: 0px 0px 50px 0px rgba(22, 24, 27, 0.06); border-top:4px solid #007bff; display: none; z-index: 1;}
.togglesearch:before{ content: ""; position: absolute; top: -32px; right: 13px; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 14px solid transparent; border-bottom: 14px solid #007bff;}
.togglesearch input[type="text"]{ width: calc(100% - 110px); padding: 5px 10px; margin-left: 15px; border: 1px solid #007bff; outline: none; height: 40px;}
.togglesearch input[type="button"]{ width: 80px; padding: 5px 0; background: #007bff; color: #fff; margin-left: -6px; border: 1px solid #007bff; outline: none; cursor: pointer; height: 40px;}
.header_search { width: 55px;}
.header_search ul li { list-style: none; position: relative;}
.header_search ul li i { font-size: 17px; position: relative; top: 2px; color: rgba(36, 38, 43, 0.5); cursor: pointer;}

/*more info main content*/
.quality-agency { background: #f7f7f7;}
.innerPage .top-navigation { padding-bottom: 15px;}

/* login screen */
.normal-title { font-family: 'Open Sans',sans-serif; font-weight: 600; font-size: 24px; letter-spacing: 0.24px; line-height: normal;}
.login-form { background: #f7f7f7; padding: 80px 0; min-height: calc(100vh - 174px); display: flex; align-items: center;}
.loginOutCanvas { max-width: 481px; background-color: #fff; border-radius: 10px; padding: 50px 75px; margin: 0 auto; box-shadow: 0px 0px 50px 0px rgba(22, 24, 27, 0.06);}
.loginOutCanvas .normal-title { text-align: center;}
.form-group { margin-bottom: 1.8rem; }
.form-group label { font-size: 14px; line-height: normal; font-weight: 600; color: #24262b;}
.loginOutCanvas .custom-checkbox label, .loginOutCanvas .fg-password { color: rgba(36, 38, 43, 0.5); font-weight: 400;}
.loginOutCanvas .fg-password:hover { color: #0456fe;}
.else-sigin { text-align: center; position: relative;}
.else-sigin span { display: table; border: 1px solid rgb(233, 237, 240); width: 34px; height: 34px; line-height: 34px; background-color: rgb(255, 255, 255); border-radius: 50px; color: #8e8e93; font-size: 14px; font-weight: 600;}
.else-sigin::after { content: ''; height: 1px; width: 100%; background: #e9edf0; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);}
.else-sigin .trans-div { display: table; margin: 0 auto; background: #fff; padding: 0 10px; position: relative; z-index: 1;}
.signin-choice .btn-theme-border { min-width: inherit; border: 1px solid #ced4da; color: #ced4da; font-weight: 600; font-size: 16px; letter-spacing: 0.975px; display: flex; align-items: center; justify-content: center;}
.signin-choice .btn-theme-border:hover { border: 1px solid #4285f4; color: #4285f4;}
.signin-choice img { margin-right: 10px; width: 16px; height: 20px; object-fit: contain;}
.signin-choice li { width: calc(50% - 10px);}
.signin-choice .list-inline-item:not(:last-child) { margin-right: 15px;}
.link-signup { font-size: 14px; font-weight: 600; color: #919295;}
.f-14 { font-size: 14px;}
.font-weight-semi-bold { font-weight: 600;}
.account-process .loginOutCanvas { max-width: 734px;}
.account-process .custom-checkbox label { font-size: 15px; font-weight: 400; color: rgba(36, 38, 43, 0.5);}
.main-hcekbox .form-check-label { position: relative; cursor: pointer;}
.main-hcekbox input[type=radio] { opacity: 0.01; z-index: 100; position: absolute; top: 0; left: 0;}
.cs-checkbox { border: 1px solid #ced4da; min-width: 221px; padding: 25px 20px; border-radius: 25px; text-align: center;}
.cs-checkbox .icon { font-size: 35px; color: rgba(36, 38, 43, 0.60); margin-bottom: 10px; display: block;}
.cs-checkbox h6 { font-family: 'Open Sans',sans-serif; font-weight: 600; color: rgba(36, 38, 43, 0.60);}
.main-hcekbox input[type=radio]:checked ~ .cs-checkbox .icon { color: #0456fe;}
.main-hcekbox input[type=radio]:checked ~ .cs-checkbox .title-check { color: #24262b;}
.main-hcekbox input[type=radio]:checked ~ .cs-checkbox { border: 1px solid transparent; background-color: #fff; box-shadow: 0px 14px 18px 0px rgba(113, 157, 248, 0.18);}
.main-hcekbox .form-check-inline { margin: 0 20px 0 0;}
.main-hcekbox .form-check-inline:last-child { margin: 0;}
.custom-checkbox .custom-control-label::before { border-radius: 50px; top: 2px;}
.custom-checkbox .custom-control-label::after { top: 2px;}
.custom-control-input:checked~.custom-control-label::before { border-color: #13b389; background-color: #13b389;}
.custom-control-input:focus~.custom-control-label::before { box-shadow: none;}
.form-group input.form-control, select.form-control { height: 50px;}
select.form-control {  padding-right: 30px;font-size: 14px; -webkit-appearance: none; appearance: none; background: #fff url(../images/down-arrow.png) no-repeat; background-position: 97% 50%; background-size: 16px;}
.dropdown-item { display: block; width: 100%; padding: 12px; color: #6c757d !important; text-align: inherit; white-space: nowrap; background-color: transparent !important; border: 0 !important; font-size: 13px; font-weight: 600; color: #24262b; text-transform: uppercase;}
.notification-list .notify-item .notify-details { margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
li.dropdown.notification-list .scroll-content { height: 200px;}
.mCSB_inside>.mCSB_container { margin-right: 10px;}
li.dropdown.notification-list .dropdown-menu { padding: 0; margin-top: 0; border-color: #f0f0f0;}
li.dropdown.notification-list .scroll-content { border-bottom: 1px solid #f0f0f0; border-top: 1px solid #f0f0f0;}
li.dropdown.notification-list .dropdown-item.notify-all { color: #0456fe !important;}
/*
.notification-list .noti-icon-badge {	display: inline-block;	position: absolute;	top: 22px;	right: 6px;	border-radius: 50%;	height: 7px;	width: 7px;	background-color: #fa5c7c;} 
*/
.dropdown-toggle.arrow-none:after { display: none;}
.nav-link.dropdown-toggle:after { background: url(../images/down-arrow.png); border: none; width: 15px; height: 9px; background-repeat: no-repeat; position: relative; top: 4px;}
.dropdown-item:hover { background-color: #f7f7f7 !important; color: #0456fe !important;}
li.dropdown.notification-list span.account-user-avatar img { width: 32px; height: 32px;}
/* ==== my-feed ==== */
.box-card { border: 1px solid #f0f0f0; border-radius: 10px; margin-bottom: 20px; box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03);}
ul.feed-links li a { color: #24262b; border: none; font-size: 16px; font-weight: 600; padding: 13px 18px; display: block;}
ul.feed-links li {list-style: none; position: relative;}
ul.feed-links li a:hover { background: #f5f8ff; color: #0456fe;}
ul.feed-links li.active a { background: #f5f8ff; color: #0456fe;}
ul.feed-links li.active:before { content: ""; background-color: rgb(4, 86, 254); position: absolute; height: 100%; width: 4px; border-radius: 0 10px 10px 0;}
.box-card .box-header { padding: 18px; border-bottom: 1px solid #f0f0f0; border-radius: 10px 10px 0 0;}
.box-card a { border-bottom: none; font-weight: 600;}
.box-card .box-content { padding: 18px;}
.box-card .box-header a i, .box-card .box-edit a i { font-size: 15px; color: rgba(36, 38, 43,0.5); transition: 0.3s all;}
.box-card .box-header a:hover i, .box-card .box-edit a:hover i { color: rgba(36, 38, 43,1);}
.box-card .box-header h5, .box-card .box-edit h5 { font-weight: 600; font-family: 'Open Sans',sans-serif; font-size: 16px;}
.box-card .box-content .inner-links li { list-style: none;}
.box-card .box-content .inner-links li a { font-size: 16px; color: rgba(36, 38, 43,0.5); font-weight: 600;}
.box-card .box-content .inner-links li { margin-bottom: 15px;}
.box-card .box-content .inner-links li:last-child { margin-bottom: 0;}
.btn-primary { background: #0456fe !important; border-color: #0456fe !important; color: #fff !important; border-radius: 5px; padding: 10px; transition: 0.3s all;}
.btn-white { background: #fff; border-radius: 3px; box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03); border-color: rgb(240, 240, 240); color: rgba(36,38,43,0.8);}
.btn-primary i { color: #fff !important; margin-right: 5px;}
.btn-white i { color: rgba(36,38,43,0.8); margin-right: 5px;}
.btn-primary:hover, .btn-white:hover { background: #24262b !important; border-color: #24262b !important; color: #fff;}
.btn-white:hover i { color: #fff;}
.box-header .profile-info .media img { width: 50px; height: 50px; border-radius: 50%;}
.box-header .profile-info .media { align-items: center; margin-bottom: 10px;}
.box-header .profile-info .media h5 { margin-bottom: 5px;}
.box-header .profile-info .media a { border-bottom: 1px solid #0456fe; transition: 0.3s all;}
.box-header .profile-info .media a:hover, .find-form a:hover { color: #24262b; border-color: #24262b !important;}
.box-header .profile-info .profile-progress .progress { width: 100%; height: 8px; margin-right: 8px;}
.progress-bar { background: #61d82d;}
.box-header .profile-info .profile-progress { align-items: center; font-weight: 600;}
.input-group-text.btn-primary { padding: 10px 12px !important;}
.input-group-text.btn-primary i { margin-right: 0;}
a.border-bottom { border-color: #0456fe !important;}
.box-content h5 { font-family: 'Open Sans',sans-serif;}
.icon-wrap i { border-radius: 50%; background-color: rgb(255, 255, 255); box-shadow: 0px 5px 9px 0px rgba(113, 157, 248, 0.12); width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; margin-left: 10px; cursor: pointer; color: rgba(36, 38, 43, 0.3); font-size: 16px;}
.icon-wrap { display: flex; align-items: center;}
.middle-card .box-header h5 { font-size: 20px;}
.middle-card .meta-tag li { margin-bottom: 5px;}
.middle-card .meta-tag, .middle-card .meta-tag .star-wrap ul { display: flex; align-items: center;}
.middle-card .meta-tag { flex-wrap: wrap;}
.middle-card .meta-tag li { list-style: none; margin-right: 20px; display: flex; align-items: center;}
/*
.my-feed-card .middle-card .meta-tag .star-wrap { margin-right: 150px;}
.middle-card .meta-tag li.rating-wrap { display: block; width: 80%;} 
*/
.middle-card .meta-tag li i, .middle-card .meta-tag li img { margin-right: 10px;}
.middle-card .meta-tag .star-wrap ul li { margin: 0 !important;}
.middle-card .meta-tag .star-wrap ul li i { margin: 0 1px !important; color: rgba(36, 38, 43, 0.2);}
.middle-card .meta-tag .star-wrap ul li i.selected { color: #0456fe;}
.meta-tag li i.fas.fa-map-marker-alt { font-size: 16px;}
ul.feed-tabs { display: flex; flex-wrap: wrap;}
ul.feed-tabs li {list-style: none;margin-right: 10px;margin-bottom: 10px;}
ul.feed-tabs li a { background: #f7f7f7; padding: 8px 16px; display: inline-block; color: #24262b; border-radius: 3px;}
ul.feed-tabs li a:hover { background: rgba(36, 38, 43, 0.45); color: #fff;}
.feed-head .icon-wrap i.fa-thumbs-down.selected { color: rgba(255, 0, 0, 0.6);}
.feed-head .icon-wrap i.fa-heart.selected { color: rgba(4, 86, 254, 0.6);}
.middle-card .box-header h5 span { display: inline-block; background: #0456fe; font-size: 13px; color: #fff; font-weight: 700; border-radius: 3px; padding: 6px 11px; position: relative; top: -1px;}
.btn-primary.load-more { min-width: 162px; display: inline-block; text-transform: uppercase;}
ul.page-links { display: flex; margin-bottom: 45px;}
ul.page-links li { list-style: none; margin-right: 40px;}
ul.page-links li a { font-weight: 600; font-size: 16px; color: rgba(36, 38, 43, 0.6); border-bottom: none; text-transform: uppercase; transition:all ease 0.5s;}
ul.page-links li.active a, ul.page-links li a:hover { color: rgba(36, 38, 43, 1);}
ul.page-links li { position: relative;}
ul.page-links li::before { content: "";height: 4px;width: 80%;background: #0456fe;position: absolute;bottom: -10px; opacity: 0; transition:all ease 0.5s;}
ul.page-links li.active::before { opacity: 1;}
.pagination li { margin: 0 5px;}
.pagination li .page-link, .page-item.disabled .page-link { padding: 10px 15px; font-size: 16px; font-weight: 600; border-radius: 3px !important; color: rgba(36, 38, 43, 0.5); border-color: #f0f0f0 !important;}
.pagination li.active .page-link, .pagination li .page-link:hover { color: rgba(36, 38, 43, 1); background: #fff;}
.box-content .search-job-form, .box-content .search-job-form .btn-wrap { display: flex; justify-content: space-between; align-items: flex-start;}
.box-content .search-job-form .search-wrap { width: 100%; margin-right: 15px;}
.box-content .search-job-form .btn-wrap a { padding: 9px 22px !important; font-weight: 400; text-transform: uppercase; font-size: 13px;}
.box-content .search-job-form .btn-wrap { width: 358px;}
.find-form i.fa-search { font-size: 14px;}
.jobs-found-info { display: flex; align-items: center; justify-content: space-between;}
.jobs-found-info .found-jobs p i { color: #0456fe;}
.jobs-found-info .found-jobs p { font-size: 18px;}
.jobs-found-info .filter-info .select-wrap { background: #fff; border-radius: 3px; box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03); border: 1px solid rgb(240, 240, 240); padding: 0 10px; margin-right: 15px; margin-bottom: 0 !important;}
.jobs-found-info .filter-info .select-wrap select.form-control { height: 40px; border: none; background-size: 13px; padding: 0 40px 0 15px; outline: none !important; box-shadow: none !important;}
.jobs-found-info .filter-info .btn-group button { padding: 0 20px; min-height: 40px;}
.jobs-found-info .filter-info .btn-group button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px;}

/* ==== my-proposals-active ==== */
#accordion .card, #accordion-talent .card { border: none; border-radius: 10px; background-color: rgb(255, 255, 255); box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03); overflow: hidden; margin-bottom: 15px; border: 1px solid #f0f0f0;}
#accordion .card .card-header, #accordion-talent .card .card-header { background-color: rgba(249, 249, 249, 0.8); border-radius: 0; border-bottom: none; background: #fff;}
#accordion .card h3, #accordion-talent .card h3 { font-size: 20px; line-height: 29px;}
#accordion .card .fa-stack, #accordion-talent .card .fa-stack { position: absolute; right: 0;}
#accordion .card .btn-link, #accordion-talent .card .btn-link { margin: 0; color: #00468B; padding: 10px 35px 10px 5px; border-bottom: none; text-decoration: none;}
#accordion .card .btn-link h5, #accordion-talent .card .btn-link h5 { font-family: 'Open Sans',sans-serif; color: rgba(36, 38, 43);}
#accordion .card .btn-link h5 i { color: #0456fe; margin-left: 8px;}
#accordion .card .card-header span.fas { color: rgba(36, 38, 43,0.3); font-size: 25px; line-height: 34px;}
#accordion .card .card-body, #accordion-talent .card-body { background: #fff; border: 1px solid #f0f0f0; padding: 0;}
#accordion .card .card-body p, #accordion-talent .card-body p { color: #555555; font-weight: 500;}
#accordion .card .card-body p:last-child { margin-bottom: 0;}
#accordion .card .card-body .body-inner table th, #accordion .card .card-body .body-inner table td { padding: 18px 25px; font-size: 16px;}
#accordion .card .card-body .body-inner table tr { border-bottom: 1px solid rgba(36, 38, 43, 0.1);}
#accordion .card .card-body .body-inner table th { color: rgba(36, 38, 43,0.5);}
#accordion .card .card-body .body-inner {border-radius: 0 0 10px 10px;overflow: hidden;}
#accordion .card .card-body .body-inner table tbody tr:last-child { border-bottom: none;}
#accordion .card .card-body .body-inner table tbody a { color: rgba(36, 38, 43,1); border-bottom: 0;}
#accordion .card .card-body .body-inner table tbody a:hover { color: #0456fe;}
ul.page-bottom-links { display: inline-flex;}
ul.page-bottom-links li { margin-left: 15px; list-style: none; position: relative; padding-left: 15px;}
ul.page-bottom-links li a { font-weight: 600; font-size: 16px; color: #0456fe;}
ul.page-bottom-links li:before {content: "";height: calc(100% - 10px);width: 2px;background: rgba(36, 38, 43,0.5);position: absolute;top: 5px;left: 0;}
ul.page-bottom-links li:first-child:before { display: none; padding-left: 0;}
ul.page-bottom-links li:first-child { padding-left: 0; margin-left: 0;}

/*==DP==*/

/* ==== my-stats ==== */
.box-header.big-header { padding: 30px 40px;}
.box-header.big-header h4 { font-size: 22px; font-family: 'Open Sans',sans-serif; color: rgba(36, 38, 43); font-weight: 600;}
.progress.circle { width: 260px; height: 260px; background: none; position: relative;}
.progress.circle::after { content: ""; width: 100%; height: 100%; border-radius: 50%; border: 16px solid rgb(194, 194, 194); position: absolute; top: 0; left: 0;}
.progress.circle>span { width: 50%; height: 100%; overflow: hidden; position: absolute; top: 0; z-index: 1;}
.progress.circle .progress-left { left: 0;}
.progress.circle .progress-bar { width: 100%; height: 100%; background: none; border-width: 16px; border-style: solid; position: absolute; top: 0;}
.progress.circle .progress-left .progress-bar { left: 100%; border-top-right-radius: 260px; border-bottom-right-radius: 260px; border-left: 0; -webkit-transform-origin: center left; transform-origin: center left;}
.progress.circle .progress-right { right: 0;}
.progress.circle .progress-bar { border-color: #75ae88 !important;}
.progress.circle .progress-right .progress-bar { left: -100%; border-top-left-radius: 260px; border-bottom-left-radius: 260px; border-right: 0; -webkit-transform-origin: center right; transform-origin: center right;}
.progress.circle .progress-value { position: absolute; top: 0; left: 0;}
.progress.circle .h2 span { display: block; font-size: 16px; color: rgba(36, 38, 43, 0.7); font-weight: 600;}
.progress.circle .h2 { text-align: center; font-size: 55px;}
ul.client-satisfication li {margin-bottom: 30px;font-size: 16px;font-weight: 600;color: rgba(36, 38, 43, 0.8);list-style: none;}
ul.client-satisfication li:last-child { margin-bottom: 0;}
ul.client-satisfication li span:first-child { display: inline-block; min-width: 395px; width: 46%;}
ul.client-satisfication li span:last-child { font-weight: 700; color: #24262b; display: inline-block; width: 45%;}
ul.client-satisfication li .progress, .box-header.big-header .inner-big ul.list-graph li .progress { width: 100%; height: 12px; margin-right: 18px; border-radius: 7.5px; background-color: #ccdefe;}
ul.client-satisfication li .progress .progress-bar, .box-header.big-header .inner-big ul.list-graph li .progress .progress-bar { background: #0456fe; border-radius: 7.5px;}
.big-text-progressbar { margin: 20px auto; text-align: center;}
.big-text-progressbar p { font-size: 18px; font-weight: 600; color: rgba(36, 38, 43, 0.5); line-height: 16px;}
.big-text-progressbar .d-flex { max-width: 175px; margin: 15px auto 0;}
.big-text-progressbar .d-flex p { text-transform: uppercase; color: #75ae88; font-size: 15px; font-weight: 700;}
.big-text-progressbar .d-flex img { margin-right: 10px;}
.box-header.big-header.box-footer p { font-size: 14px; font-weight: 600; color: rgba(36, 38, 43, 0.64);}
.box-header.big-header.box-footer h4 { margin-bottom: 15px;}
.box-header.big-header.box-footer a { display: flex; align-items: center; font-size: 16px; font-weight: 600; color: #0456fe; text-decoration: underline; display: block; margin-top: 15px;}
.box-header.big-header.box-footer a img { margin-right: 10px; position: relative; top: -3px;}
.box-header.big-header.box-footer a:hover { color: rgba(36, 38, 43)}
.box-header.big-header.box-footer a.btn { text-decoration: none; min-height: 50px; text-transform: capitalize;}
.box-header.big-header .inner-big p { font-size: 18px; font-weight: 600; color: #737477; margin-bottom: 30px;}
.box-header.big-header .inner-big ul li span { font-size: 16px; font-weight: 600; display: inline;}
.box-header.big-header .inner-big ul li p { font-size: 16px; font-weight: 500; display: inline; margin-bottom: 0; color: rgba(36, 38, 43, 0.8);}
.box-header.big-header .inner-big p b { color: rgba(36, 38, 43, 1); font-weight: 700;}
.box-header.big-header .inner-big ul.list-graph li { list-style: none; position: relative; margin-bottom: 30px; display: flex; align-items: flex-start; justify-content: space-between;}
.box-header.big-header .inner-big ul li span {min-width: 285px;position: relative; top: 12px;}
.box-header.big-header .inner-big ul.list-graph li .progress { margin-right: 0;}
#chart span { min-width: inherit !important; display: table-cell;}
.apexcharts-tooltip-text-value, .apexcharts-tooltip-text-label { font-size: 12px !important;}
span.profile-views { text-align: right; margin-right: 20px; color: rgba(36, 38, 43, 0.64);}

/* ========== Message-page =========== */
.message-section-wrap { min-height: calc(100vh - 96px); /* max-width: 1600px; */ margin: 0 auto; height: 100%;}
.message-left-sidebar, .message-right-sidebar { padding-top: 30px;}
.profile-wrap-right h4{ font-size: 22px; font-weight: 700; margin-bottom: 10px;}
.profile-wrap-right .btn { min-width: 150px; display: flex; align-items: center; justify-content: center; margin: 20px 8px;}
.profile-wrap-right .btn.btn-white { border-color: #0456fe;}
.profile-wrap-right .btn i.fas.fa-phone { position: relative; transform: rotate(90deg); margin-right: 8px;}
.profile-wrap-right form.form-inline { max-width: 323px; width: 100%; margin: 0 auto;}
.profile-wrap-right form.form-inline .input-group { width: 100%; height: 50px;}
.profile-wrap-right form.form-inline .input-group input { height: 100%; border-right: none;}
.profile-wrap-right form.form-inline .input-group span.input-group-text { background: #fff; border-left: none; cursor: pointer;}
.profile-wrap-right .user-img img { border-radius: 50%;}

.cta-wrap ul { margin-bottom: 30px;}
.cta-wrap ul li { list-style: none; margin: 0 10px;}
.cta-wrap ul li:first-child { margin-left: 0;}
.cta-wrap ul li:last-child { margin-right: 0;}
.cta-wrap ul li .icon-wrap { border-radius: 50%; background-color: rgb(255, 255, 255); box-shadow: 0px 3px 5px 0px rgba(113, 157, 248, 0.12); width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;}
.cta-wrap ul li .btn-group a { display: flex; align-items: center; font-size: 19px; max-height: 40px; width: 60px; justify-content: center;}

.contact-list form { margin-top: 30px;}
.contact-list form { max-width: 340px; margin: 30px auto 20px;}
.contact-list form .input-group { width: 100%; height: 50px;}
.contact-list form .input-group input { height: 100%;}
.contact-list form .input-group .input-group-text { width: 50px; justify-content: center;}
.contact-list .form-inline select.form-control { background-size: 13px; padding: 0 40px 0 10px; outline: none !important; box-shadow: none !important; border: none; height: auto; font-size: 18px; color: #24262b; margin-top: 20px;}
#contacts { max-height: calc(100vh - 345px); overflow: hidden; overflow-y: auto;}

#contacts .contact { position: relative; cursor: pointer; list-style: none;}
#contacts .contact .wrap { width: 88%; margin: 0 auto; position: relative; padding: 22px 0; border-top: 1px solid #f0f0f0;}
#contacts .contact .wrap .contact-status { position: absolute; right: 7px; width: 14px; height: 14px; border-radius: 50%; border: 2px solid #ffffff; background: #95a5a6; bottom: 5px;}
#contacts .contact .wrap .contact-status.online { background: #75ae88;}
#contacts .contact .wrap .contact-status.offline { background: transparent; border: none;}
#contacts .contact .wrap img { width: 45px; height: 45px; border-radius: 50%; margin-right: 10px;}
#contacts .contact .wrap .user-image, li.sent .user-image { width: 45px; height: 45px; margin-right: 10px; border-radius: 50%; display: flex; align-items: center; justify-content: center; background: #f7f7f7; font-weight: 700; font-size: 18px;}
#contacts .contact .wrap p.name { font-size: 16px; font-weight: 700; color: #24262b; line-height: 18px; margin-bottom: 4px;}
#contacts .contact .wrap p.preview, #contacts .contact .wrap p.time { font-size: 14px; color: rgba(36, 38, 43, 0.6); line-height: 18px;}
#contacts .contact .wrap p.unread { border: 1px solid #0456fe; color: #0456fe; font-size: 12px; line-height: 12px; width: 20px; height: 20px; border-radius: 50%; background: #ccdefe; display: flex; align-items: center; justify-content: center; margin: 0 0 0 auto; opacity: 0;}
#contacts .contact.unread .wrap p.preview { color: rgba(36, 38, 43, 1);}
#contacts .contact.unread .wrap p.unread { opacity: 1;}
#contacts .contact.active { background: #f5f8ff;}
#contacts .contact.active:before {content: "";background: #0456fe;height: 100%;width: 4px;position: absolute;border-radius: 0 4px 4px 0;}

#contacts .contact.active .wrap p.name { color: #0456fe;}
#contacts .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .messages .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background-color: #0456fe !important;}

.messages { height: calc(100vh - 190px); /* min-height: 785px; */ padding: 0 0 0 15px; overflow: hidden; overflow-y: auto;}
.message-input .wrap { height: 85px; padding: 0 15px;}
.message-input .wrap button { background: transparent; border: none;}
.message-input .wrap button i { font-size: 30px; color: rgba(36, 38, 43, 0.6); margin-right: 8px;}
.message-input .wrap input { border: none; width: 100%; height: 50px; font-size: 16px;}
.attachment-items a, .attachment-items button { margin: 0 8px; border: none;}
.attachment-items img { width: 22px;}
.messages ul li { display: flex; width: calc(100% - 25px); font-size: 0.9em; align-items: flex-start; justify-content: flex-start; margin: 0 0 5px;}
.messages ul li:first-child { margin-top: 15px;}
.messages ul li.replies { justify-content: flex-end;}
.messages ul li img.user-icon { width: 45px; border-radius: 50%; height: 45px;}
.messages ul li.sent img.user-icon { margin-right: 15px;}
.messages ul li.replies img.user-icon { margin-left: 15px;}
.messages ul li p { display: table; padding: 15px; max-width: 75%; color: #24262b; font-size: 14px; line-height: 20px;}
.messages ul li.sent p { background: #ccdefe; border-radius: 0 10px 10px 10px; }
.messages ul li.replies .user-chat { text-align: right;}
.messages ul li.replies p { background: #f1f2f6; border-radius: 10px 0 10px 10px; margin-left: auto; text-align: left;}
.messages ul li .user-chat img { border-radius: 5px; width: 300px;}
.user-chat > p { margin-bottom: 5px;}
.messages .chat.active-chat { display: block;}
.messages .chat { display: none;}
.user-chat .time { color: rgba(36, 38, 43, 0.5); font-weight: 600; font-size: 12px; background: transparent !important; padding: 0;}
.msg-info { width: 55px;}
.attachment-items .custom-file-label { /* position: static; */ left: -30px; padding: 0; border: none; height: auto !important; margin-bottom: 0; top: 4px; cursor: pointer;}
.attachment-items .custom-file-input { visibility: hidden; opacity: 0; height: 0 !important; width: 0 !important;}
.attachment-items .custom-file-label::after { display: none;}
/*signupForm*/
#signupForm fieldset, #signupForm { position: relative;}
#signupForm fieldset:not(:first-of-type) { display: none;}
.account-process .loginOutCanvas { overflow: hidden;}
#signupForm fieldset p.text-center { margin-bottom: 35px; font-weight: 600; color: rgba(36, 38, 43, 0.5); margin-top: 10px;}
#signupForm fieldset .form-check label.form-check-label { position: relative; top: -2px;}
#signupForm fieldset .form-check { margin-bottom: 5px;}
#signupForm .form-control { font-size: 14px;}
#signupForm fieldset p { line-height: 22px; font-size: 15px; margin-bottom: 15px;}
#signupForm fieldset label.custom-control-label { color: rgba(36, 38, 43, 0.9);}

#accordion-talent .card.box-card .btn-link { padding: 0;}
#accordion-talent .card.box-card .card-body.box-content { padding: 18px !important; border: none;}
#accordion-talent .card.box-card .card-header { border-bottom: 1px solid #f0f0f0;}
#accordion-talent .card.box-card .card-body.box-content.px-0 { padding-left: 0 !important; padding-right: 0 !important;}
#accordion-talent .card.box-card .card-body.box-content ul.feed-links li a { padding: 13px 18px;}
#accordion-talent .card.box-card .card-header .fa-stack { display: flex; align-items: center;}
#accordion-talent .card.box-card .card-header .fa-stack .acco-plus { background-image: url(../images/acco-plus.png); width: 18px; height: 18px; background-size: contain; background-repeat: no-repeat; display: block;}
#accordion-talent .card.box-card .card-header .fa-stack .acco-minus { background-image: url(../images/acco-minus.png); width: 18px; height: 2px; background-size: contain; background-repeat: no-repeat; display: block;}
ul.feed-tabs li .border-bottom.more { background: transparent; border-radius: 0; padding-left: 0; padding-right: 0; padding-bottom: 0; color: #0456fe;}
.icon-wrap a { margin-left: 10px; font-family: 'Open Sans',sans-serif; min-width: 160px;}
.box-card .box-header .feed-header .user-info img.user-img { width: 70px; height: 70px; border-radius: 50%; margin-bottom: 0;}
.box-card .box-header .feed-header .user-info .contact-status { width: 18px; height: 18px; bottom: 3px; right: -2px;}
.box-card .box-header .feed-header .user-info .user-inner-info { margin-left: 15px;}
.box-card .box-header .feed-header .user-info .user-inner-info .name { font-weight: 600; color: rgba(36, 38, 43, 1); font-size: 18px; line-height: 22px;}
.box-card .box-header .feed-header .user-info .user-inner-info li .progress { width: 156px; height: 8px; margin-left: 10px; border-radius: 7.5px; background-color: #ccdefe; margin-top: 1px;}
.box-card .box-header .feed-header .user-info .user-inner-info li .progress .progress-bar{ background: #0456fe; border-radius: 7.5px;}
.box-card .box-header .feed-header .user-info .user-inner-info li span.award-img img { width: 15px; margin-right: 7px;}
.box-card .box-header .feed-header .user-info .user-inner-info .preview { line-height: 16px; font-size: 14px; margin: 5px 0;}

.signup-step-container #step6 .cs-checkbox i { font-size: 22px;}
span.top-left-label { position: absolute; left: -30px; background: #0456fe; color: #fff; padding: 3px; transform: rotate(-45deg); width: 130px; top: 21px; text-transform: uppercase; padding-bottom: 5px;}
.signup-step-container #step6 .main-hcekbox input[type=radio]:checked ~ .cs-checkbox { border: 1px solid #ced4da; box-shadow: none;}
.signup-step-container #step6 .main-hcekbox input[type=radio]:checked ~ .cs-checkbox .icon { color: rgba(36, 38, 43, 1) !important;}
.signup-step-container #step6 .main-hcekbox .overflow-hidden.active { box-shadow: 0px 14px 18px 0px rgba(113, 157, 248, 0.18); border-radius: 25px;}
.signup-step-container #step6 .main-hcekbox .overflow-hidden.active .cs-checkbox { border: 1px solid transparent !important;} 
.setting-box .setting-box-content .setting-box-detail h5 i { font-size: 14px; color: #0456fe; margin-left: 8px;}
.signup-step-container #step6 .form-check span { color: rgba(36,38,43,0.64);}
.signup-step-container #step6 .hourly-range input.form-control { width: 120px; height: 40px;}
.signup-step-container #step6 .hourly-range span { margin: 0 8px;}
.signup-step-container #step6 .d-flex.align-items-center.my-2 span b { margin: 0 20px 0 10px;}

/*==ZP==*/
@font-face { font-family: 'Gilroy'; src: url('../fonts/Gilroy-Bold.eot'); src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Bold.woff2') format('woff2'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg'); font-weight: bold; font-style: normal;}

/* global space css start */
.global_space { padding: 70px 0;}
.section_title { font-size: 30px; font-weight: 600; letter-spacing: -0.14px; margin-bottom: 57px;}
.sub_title { color: rgba(36, 38, 43, 0.5); font-size: 14px; letter-spacing: 0; display: block; text-transform: uppercase; font-weight: 600;}
.dark_gray_bg { background: #f1f1f1;}
p { font-size: 15px; line-height: 26px; color: rgba(36, 38, 43, 0.8);}
.light_gray_bg { background: #f7f7f7;}
/* .btn { background: #0456fe; color: #fff !important; font-size: 16px; font-weight: 600; border-radius: 5px; padding: 13px 51px;} */
.btn-radius.btn-theme { border-radius: 5px; min-width: initial; padding: 13px 51px;}
.commonIconShape>span { font-size: 29px; color: #0456fe;}
.commonIconShape { box-shadow: 0px 14px 18px 0px rgba(113, 157, 248, 0.18); width: 60px; height: 60px; line-height: 84px; text-align: center; border-radius: 15px; border: 1px solid #f1f5fe; margin-bottom: 27px;}
.seprate_line { width: 49px; height: 2px; background: #ecf1fc; position: absolute; left: 0; right: 0; margin: auto;}
.styled_ul li { padding-left: 21px; margin-bottom: 24px; color: rgba(36, 38, 43, 0.8);}
ul.styled_ul li:before { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-family: icomoon; content: "\e90e"; text-indent: -21px; color: #13b389; font-size: 15px;}
.common_box { box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03); border: 1px solid #f0f0f0; border-radius: 10px; height: 100%; background: #fff; display: block;}

/* global space css end */

/* Agencies section css start */
.allCategory a { border-bottom: 1px solid #0456fe; color: #0456fe; font-weight: 600;font-size: 16px;}
.allCategory a:hover { opacity: 0.8;}
.webService .commonIconShape { background: #d5e3fc; line-height: 75px;}
.designService .commonIconShape { background: #fdf1d7;}
.writingService .commonIconShape { background: #d7f8ff;}
.salesService .commonIconShape { background: #ffeeee;}
.adminService .commonIconShape { background: #d7fdf3;}
.customerService .commonIconShape { background: #fdf3ff;}
.datascienceService .commonIconShape { background: #fbe3eb;}
.engineeringService .commonIconShape { background: #e7f8db;}
.webService .commonIconShape>span { color: #0456fe;}
.designService .commonIconShape>span { color: #f2aa18;}
.writingService .commonIconShape>span { color: #35bfdf;}
.salesService .commonIconShape>span { color: #ee4040;}
.adminService .commonIconShape>span { color: #13b389;}
.customerService .commonIconShape>span { color: #a96ae4;}
.datascienceService .commonIconShape>span { color: #e5175c;}
.engineeringService .commonIconShape>span { color: #81a668;}
.webService .count { color: #0456fe;}
.designService .count { color: #f2aa18;}
.writingService .count { color: #35bfdf;}
.salesService .count { color: #ee4040;}
.adminService .count { color: #13b389;}
.customerService .count { color: #a96ae4;}
.datascienceService .count { color: #e5175c;}
.engineeringService .count { color: #81a668;}
.webService:hover { box-shadow: 14px 17px 38px 0px rgba(213, 227, 252, 0.11);}
.designService:hover { box-shadow: 14px 17px 38px 0px rgba(242, 170, 24, 0.11);}
.writingService:hover { box-shadow: 14px 17px 38px 0px rgba(53, 191, 223, 0.11);}
.salesService:hover { box-shadow: 14px 17px 38px 0px rgba(238, 64, 64, 0.11);}
.adminService:hover { box-shadow: 14px 17px 38px 0px rgba(19, 179, 137, 0.11);}
.customerService:hover { box-shadow: 14px 17px 38px 0px rgba(169, 106, 228, 0.11);}
.datascienceService:hover { box-shadow: 14px 17px 38px 0px rgba(229, 23, 23, 0.11);}
.engineeringService:hover { box-shadow: 14px 17px 38px 0px rgba(129, 166, 104, 0.11);}
.looking_for_section { padding-top: 35px;}
.looking_for_section p { font-size: 18px; font-weight: 600; color: #24262b; margin-bottom: 20px;}
.agencies_box { margin-bottom: 30px;}
.agencies_box a,.agencies_box a:hover { border-bottom: 0; color: #24262b;}
.agencies_box .common_box { /*padding: 25px 28px; display: flex; flex-wrap: wrap; align-items: flex-end;*/padding: 25px 28px;	display: flex;flex-wrap: wrap;justify-content: space-between;	flex-direction: column;}
.agencies_details{ width: 100%;}
.agencies_box h3 { font-size: 20px; font-weight: 600; max-width: 200px; margin-bottom: 23px;}
.agencies_box h4 { font-size: 14px; font-weight: 500; font-family: 'Roboto', sans-serif;}

/* Agencies section css end */

/* How it works section css start */
.workBox { text-align: center;}
.workBox .commonIconShape { margin: 0 auto 27px;}
.workBox h3 { font-size: 18px; font-weight: 600; margin-bottom: 3px;}
.workBox p { margin-bottom: 37px;}

/* How it works section css end */
.scopeBox { background: #fff; padding: 50px;}
.scopeBox h3 { font-size: 20px; font-weight: 600; margin-bottom: 9px;}

/* Offer section css start */
.offerBox { background: #fff; height: 100%;}
.offerBox ul { list-style: none; text-align: left; padding: 36px 31px 76px; min-height: 399px;}
.offerBox h3 { font-size: 22px; font-weight: 600; letter-spacing: -0.22px; padding: 30px 0;}
.offerBox h4 { font-size: 20px; font-weight: 600; background: #f1f5fc; padding: 15px 0;}
.offerBox .btn.btn-theme { border-radius: 5px; padding: 13px 51px; position: absolute; left: 0; right: 0; margin: auto; max-width: 195px; bottom: 44px;}
.offerBox { background: #fff; border: 1px solid #f0f0f0; box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03); border-right: 0; padding-bottom: 44px;}
.offer_section .row .col-md-3:last-child .offerBox { border-right: 1px solid #f0f0f0;}
.offer_section .styled_ul li.readmorecontentnew ul { padding: 0; min-height: auto; margin-top: 24px;}
.offer_section .styled_ul li.readmorecontentnew { padding-left: 0; color: #0456fe;}
.offer_section .styled_ul li.readmorecontentnew:before,
.styled_ul li.more_seprate:before { display: none;}
.offer_section .styled_ul li.more_seprate { margin-bottom: 0; font-weight: 600;}
.offer_section .styled_ul li.more_seprate>a { border-bottom: 1px solid #0456fe; color: #0456fe;}
.offer_section .styled_ul li.more_seprate>a:hover { opacity: 0.8;}

/* Offer section css end */

/* What customer say section css start */
.customerBox { background: #fff; box-shadow: 0px 2px 2px 0px rgba(22, 24, 27, 0.03); border: 1px solid #f0f0f0; padding: 52px 47px; border-radius: 10px;}
.customerBox p { font-weight: 600; line-height: 30px; padding: 38px 0 50px 0;}
.authImg { width: calc(100% - 236px);}
.author_detail { max-width: 300px; width: 100%;}
.authDesignation { font-family: 'Karla', sans-serif; color: #231f20;}
.authDesignation h4,
.authDesignation span { font-size: 16px;}
.authImg img { border-radius: 50%;}
.customerSlider { max-width: 997px; width: 100%;}
.customer_section .swiper-control { position: absolute; width: 100%; top: 50%; max-width: 1200px; left: 0; right: 0; margin: 30px auto;}
.customer_section { position: relative;}
.customer_section .swiper-control .swipe-btn { width: 54px; height: 54px; border-radius: 50%; background: #24262b; color: #fff; border: 0px;}
.customer_section .swiper-control .swipe-btn span { font-size: 20px;}
.customer_section .swiper-control .swipe-btn:hover { background: #0456fe; border: 0px;}
.customer_section .swiper-control .swipe-btn.prev-slide { float: left;}
.customer_section .swiper-control .swipe-btn.next-slide { float: right;}
.customer_section .swiper-control .swipe-btn:focus { box-shadow: none; outline: none; border: 0px;}

/* What customer say section css end */

/* Skills sections css start */
.skills ul { columns: 4; list-style: none; column-gap: 30px;}
.skills ul li a { font-size: 14px; line-height: 32px; color: rgba(36, 38, 43, 0.8);}
.skills ul li a:hover { color: #0456fe;}
.skills h4 { font-size: 20px; font-weight: 600; margin-bottom: 11px;}

/* Skills sections css end */

/* my jobs css start */

.nav-tabs.commonTabs .nav-link { border: 0px; border-top-left-radius: 0; border-top-right-radius: 0px; font-size: 16px; font-weight: 700; padding: 11px 26px;    color: rgba(36,38,43,0.6);}
.nav-tabs.commonTabs .nav-link.active { background-color: #f5f8ff;color:#0456fe; position: relative;}
.nav-tabs.commonTabs .nav-link.active:after { content: ''; position: absolute; bottom: 0; width: 100%; height: 4px; background: #0456fe; left: 0; right: 0; border-radius: 20px 20px 0 0;}
.nav-fill.commonTabs .nav-item { flex: initial; margin-bottom: 0px;}
.job_small_title { font-size: 14px; color: rgba(36,38,43,0.64);font-weight: 400; display: block; font-family: 'Open Sans',sans-serif;}
.jobs-cards ul {list-style: none; margin-bottom: 18px;}
.jobs-cards .card h6, .contactTitle {margin-bottom: 18px; font-size: 16px; color: #24262b; border-bottom: 0px;text-decoration: none !important;}
.jobs-cards .card { padding: 20px 120px 20px 20px; margin-bottom: 30px;}
.jobs-cards .card .edit-delete {    position: absolute;    right: 20px;}
.jobs-cards .card a { font-weight: 600; text-decoration: underline; border-bottom: 0px;}
.jobs-cards .card a:hover,.jobs-cards .card a:focus { border-bottom: 0px; color: #487ae0; }
.jobs-cards > .box-header { padding: 18px; border-bottom: 1px solid #f0f0f0; border-radius: 10px 10px 0 0; margin-bottom: 26px;}
.jobs-cards .grid { margin: 41px -15px;}
.jobs-cards .grid-item { display: block; float: left; padding: 0 15px; width: 33.33%; opacity: 1; margin: 0; }
.edit-delete .dropdown-toggle::after { display: none;}
.edit-delete .dropdown-toggle > i{color: #bdbdbf;font-size: 16px; transform: rotateZ(90deg);}
.edit-delete .dropdown-toggle { color: #bdbdbf;  font-size: 16px; width: 30px; height: 30px; display: inline-block;  text-align: center; line-height: 30px; background: #fff; border-radius: 50%;box-shadow: 0px 5px 8px 0px rgba(113, 157, 248, 0.12);  margin-left: 13px;}
.edit-delete .dropdown-toggle:hover, .edit-delete .dropdown-toggle:focus { border-bottom: 0px;}
.jobs_top h4 { font-size: 20px;}
.jobs_top h4 span { color:#0456fe; margin-left: 20px;}
.jobs-cards .find-form  {max-width: 354px; width: 100%;}
.dropdown-item {border-bottom: 0px !important; text-decoration: none !important;}
.tab-content>.tab-pane {width: 100%; float: left;}
.due_date{display: block;}
.holdTxt {display: block; color: #c7622a;}
.randomBtm{border: 1px solid #ced4da; border-radius: .25rem; font-size: 18px; color: rgba(0,0,0,0.3); background: transparent;padding: 5px 9px; transition: 0.3s all;}
.randomBtm:hover { background: #0456fe; border-color: #0456fe; color: #fff;}
.sortBy select.form-control.time-zone-dropdown { height: 39px;}
.sortBy p { color: rgba(36,38,43,0.64); padding: 0 0 0 18px;margin-right: 18px;}
.sortBy p .fa-check-circle {color: #13b389;}
.dowanload_icon { width: 14px; height: 16px; position: relative; display: inline-block;}
.dowanload_icon:before {  content: ''; position: absolute; background: url(../images/dowanload_icon.png) no-repeat; width: 100%; height: 100%; left:-6px;}
.dowanload_csv .btn.btn-theme {padding: 7px 45px 7px 42px;}
.grid.contactGrid { margin: 11px -15px;}
.contactGrid .grid-item .card { transition: 0.3s all;}
.contactGrid .grid-item .card:hover {    box-shadow: 0px 12px 30px 0px rgba(36, 38, 43, 0.1);}
.contactGrid .grid-item .card:hover .contactTitle {  color: #0456fe;}
.contactGrid .box-content p{ color:#24262b;}
.contactGrid .jobs-cards .card { padding:20px 116px 20px 20px;}
.contracts_section .find-form{max-width: 482px; width: 100%;}
.checkbox:checked ~ span:before { content: "\f058"; position: absolute; font-size: 15px; font-family: 'Font Awesome 5 Free'; color: #13b389;font-weight: 900; top:-4px; left: -2px;}
.checkbox ~ span { position: relative;  border: 1px solid #ced4da; height: 15px;  width: 15px; display: inline-flex;border-radius: 50%;vertical-align: middle;margin-top: -4px;}
.chkInn input {    height: auto;    width: auto;    padding: 0;}
.checkbox {    position: absolute;    opacity: 0;  width: 100%;    height: 100%;    z-index: 111;    cursor: pointer;}
.checkbox_title{color:rgba(36,38,43,0.64); font-size: 16px;}
.contracts_section .chkInn {padding-left: 18px;}
.chkInn { position: relative;padding-left: 22px;}
.chkInn label{ margin: 0; position: absolute; left: 0;}
.setting-box-detail .checkbox_title { color: rgba(36,38,43,1);}
.setting-box .setting-box-content a.btn{ text-decoration: none; }
.setting-box .setting-box-content a.btn.btn-theme{color:#fff;}
.setting-box .setting-box-content a.btn.btn-theme.btn-radius { text-transform: uppercase; letter-spacing: 0.975px;}
.setting-box-detail .checkbox_title_big {font-size: 18px;}
.middle-card  h5 span.setting_sub_title { font-size: 14px; color: rgba(36,38,43,0.64); letter-spacing: -0.14px; display: block; background: transparent; padding: 0; font-weight: 400;}
.check_sub_title{ font-size: 14px; line-height: 26px; display: block; color: rgba(36,38,43,0.64); font-weight: 400;}
.security_checkInn {    padding-left: 20px;    position: relative;}
.security_checkInn label { position: absolute;    left: 0;    top: 3px; }
.secureIcon{ opacity:0.68;}
.checkboxList {list-style: none;}
.checkboxList .checkbox ~ span { border-radius: 4px; height: 16px; width: 16px;}
.checkboxList .checkbox:checked ~ span:before {content: "\f14a"; font-size: 17px; top: -6px;left: 0px;}
.setting-box-detail .checkboxList .checkbox_title{ font-size: 14px; font-weight: 400; }
.notificatio_page .setting-box .setting-box-content .setting-box-detail h5 { font-weight: 700;}
.notificatio_page .middle-card .box-header h5 {font-size: 22px; letter-spacing: -0.22px; font-weight: 600;}
.notificatio_page .setting-box-detail label { font-size: 14px; font-weight: 600; line-height: 26px;}
.notificatio_page .setting-box .setting-box-content .setting-box-detail h5 small{ font-size: 14px; font-weight:600; padding-left: 4px;}
.setting-box .setting-box-content .setting-box-detail p.grayTxt {font-size: 14px; font-weight: 600;color: rgba(36,38,43,0.64);} 
.notificatio_page select.form-control {font-family: 'Roboto',sans-serif; font-size: 16px; color: #24262b;}
.grayTxt {font-size: 14px; font-weight: 600;color: rgba(36,38,43,0.64);} 
.onlyCheck .chkInn label {top:-1px;}
.balanceBox { list-style: none; text-align: right;}
.balanceBox li {letter-spacing: -0.16px; font-size: 16px; font-weight: 600;}
.balanceBox li small { font-size: 14px; letter-spacing: -0.14px; color:#737477;}
.balanceBox li span { color:#0456fe; margin-left: 4px;}
.datepicker-style-2 input#datepicker { width: 242px; height: 39px; border: 1px solid #f0f0f0; padding: 0 13px; font-size: 15px; font-family: 'Roboto',sans-serif;}
.datepicker-style-2 .btn { padding:0}
.clndr-input.datepicker-style-2  { max-width: 100%; margin-left: 10px;}
.datepicker-style-2 span.input-group-append {    position: absolute;    right: 0;}
.clndr-input.datepicker-style-2 i { right: 0; left: auto; z-index: 9;}
.randomBtm.filterBtn { border: 1px solid #f0f0f0;}
.btn-theme-border .dowanload_icon:before{background: url(../images/download-icon-blue.png) no-repeat;}
.dowanload_csv .btn.btn-theme-border { padding: 7px 45px 7px 42px;margin-right: 8px;}
.table_style.table thead th { vertical-align: bottom; border-bottom: 0px; background: #f7f7f7; border-top: 0px; font-size: 14px; letter-spacing: -0.14px; text-transform: uppercase;vertical-align: middle;}
.table.table_style tr:nth-child(even) {background: #f7f7f7;}
.table_style.table thead th:last-child { text-align: right;}
.table_style.table thead th span{ display:block; }
.table_style { border: 1px solid #f0f0f0; border-radius: 3px; }
.table.table_style td, .table.table_style th {border-top: 1px solid #f0f0f0;}
.table.table_style td span {display: block;}
.table.table_style td:last-child { text-align: right;}
.historyPage .table_style{    max-width: 1122px;    margin: auto;}
.jobs-cards.historyPage > .box-header { padding: 18px 40px;}
.table.table_style td { vertical-align: middle;}
.notificatio_page .freelancerForm select.form-control {height: 38px;}
.textArea {width: 100%; overflow: hidden; padding: 12px; resize: none; border: 1px solid #ced4da; border-radius: .25rem; height: 138px;}
.grayTxt.grayTxtLight { color: rgba(36,38,43,0.50); font-weight: 400;}
.notificatio_page .setting-box .setting-box-content .setting-box-detail h5 .grayTxt{ font-size: 16px;}
.grayTxt.selectNote {font-weight: 400; padding-top: 30px;}
.info_icon i { font-size: 13px; color:#0456fe}
.btn.btn-theme.btn-theme-2 { font-size: 13px; text-transform: uppercase; letter-spacing: 0.975px; padding: 10px 15px;}
.form-control.small-input {max-width: 181px;}
.nullTxt { font-size: 42px; font-weight: 700;color: rgba(36,38,43,0.50); line-height: 42px; }

.checkboxStyle2 .chkInn label { position: static;}
.checkboxStyle2 .checkbox ~ span { width: auto; height: auto; display: block; border: 0px;}
.checkboxStyle2 .checkbox ~ span:after {    width: 16px;    height: 16px;    content: '';    position: absolute;  border-radius: 3px;  border: 1px solid #ced4da;    top: 3px;   left: 0;}
.checkboxStyle2 .checkbox:checked ~ span:before {top: -2px;    left: 1px;}
.checkboxStyle2 .chkInn {padding-left: 0;}
.checkboxStyle2 .checkbox ~ span p {padding-left:22px ;}
.checkboxStyle2 .checkbox:checked ~ span:before {    content: "\f14a";    font-size: 16px;}

/*==MD==*/

/* Settings page Left side link start*/
.setting-links{ list-style: none; margin: 0; padding: 0;}
.setting-links > li > span{ display: block; padding: 8px 30px; font-weight: 600; font-size: 20px; color: #24262b; line-height: 1.2;}
.setting-sub-links{ list-style: none; margin: 0; padding: 0;}
.setting-sub-links > li{position: relative;}
.setting-sub-links > li > a{ display: block; font-size: 16px; color: #24262b; line-height: 1.2; padding: 18px 60px; font-weight: 400;}
.setting-sub-links > li > a:hover{ background: #f5f8ff; color: #0456fe;}
.setting-sub-links > li.active > a{ font-weight: 600; background: #f5f8ff; color: #0456fe;}
.setting-sub-links > li.active:before { content: ""; background-color: rgb(4, 86, 254); position: absolute; height: 100%; width: 4px; border-radius: 0 10px 10px 0;}
/* Settings page Left side link end*/

/* setting right pannel*/
.setting-box .setting-box-content{padding: 40px;}
.setting-box .setting-box-content .setting-box-detail{ margin-bottom: 30px;}
.setting-box .setting-box-content .setting-box-detail h5{ font-size: 18px; color: #24262b; font-weight: 600; line-height: 1.444; margin: 0 0 5px; padding: 0;}
.setting-box .setting-box-content .setting-box-detail p{ font-size: 16px; color: #24262b; line-height: 1.375; margin: 0;}
.setting-box .setting-box-content a{ color: #0456fe; font-weight: 600; text-decoration: underline; font-size: 16px;}
/* setting right pannel*/

/*Setting billing method*/
.billing-card-list,
.billing-card-list ul{ list-style: none;}
.billing-card-list > li{padding: 12px 0;}
.billing-card-list > li:last-child{padding-bottom: 0;}
.billing-card-list > li + li{ border-top:1px solid #f0f0f0}
.billing-card-list ul > li:first-child{ margin-right: 22px;}
.billing-card-list ul > li{ font-size: 16px; color: #24262b; line-height: 1.188;}
.billing-card-list ul > li > span{font-weight: 700;}
/*Setting billing method*/

.mb-2rem{margin-bottom: 2rem;}

/*==AB==*/
:focus { outline: -webkit-focus-ring-color auto 0px !important;}
.form-control:focus { background-color: #fff; border-color: #0456fe; outline: 0; box-shadow:none;}
button:focus,.btn.focus, .btn:focus { outline: 0px dotted; outline: 0px auto -webkit-focus-ring-color;}
.btn.focus, .btn:focus{box-shadow:none;}
a.green-link { font-size: 15px; letter-spacing: 0px; color: #75ae88; font-weight: 700; text-transform: uppercase;}
a.green-link:hover{ color: #0456fe;}
.media-body h6 { font-size: 16px; letter-spacing: 0px; color: #24262b; font-weight: 600; margin-bottom: 5px; font-family: 'Open Sans',sans-serif;}
.box-info-style .edit-info p { font-size: 14px; line-height: 22px; color: rgba(36,38,43,0.8); font-weight: 600; font-family: 'Open Sans',sans-serif;}
.box-info-style h6 { font-size: 16px; letter-spacing: 0px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
img.plus-icon { margin-top: -2px;}
.trash-icon a { color: #000 !important;}
.trash-icon a img,.trash-icon a i { opacity: 0.6;}
.bordered-inner-links li{ border-bottom: 1px solid #f0f0f0; padding-bottom: 15px;}
.bordered-inner-links li:last-child{ border-bottom: 0px solid #f0f0f0; padding-bottom: 0px;}
a.btn.btn-primary.btn-primary-invert { color: #0456fe !important; border: 2px solid #0456fe; background: #fff !important; min-width: 140px;}
a.btn.btn-primary.btn-primary-invert:hover{ color: #fff !important; border: 2px solid #0456fe !important; background: #0456fe !important;}
a.edit-icon.ml-2 { position: absolute; right: 25px;}
.profile-card h2 { font-size: 30px; letter-spacing: 0px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center; padding-bottom: 15px;}
.profile-card h6 { font-size: 14px; color: rgba(36,38,43,0.5); font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center;}
.profile-card p { font-size: 14px; color:rgba(36,38,43,0.5); font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center;}
.online{ width: 22px; height: 22px; border-radius: 11px; background-color: #75ae88; border: 3px solid #ffffff; position: absolute; bottom: 20px; right: 5px;}
.user-img { max-width: 150px; width: 100%; margin: 0 auto 25px;}
.user-img img { width: 100%;}
.feed-box-wrap .box-header,.feed-box-wrap .box-content { padding: 40px;}
.feed-box-wrap .box-content h5 { font-size: 25px; line-height: 35px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; padding-bottom: 10px;}
.feed-box-wrap .feed-detail p, .feed-box-wrap .feed-detail ul li { font-size: 14px; color: #24262b; font-weight: 400; font-family: "Karla";}
p.text-black { color: #24262b;}
.porfolio-img h5 { font-size: 14px !important; letter-spacing: 0px; color: #24262b; margin-bottom: 15px;}
/*feed-box-wrap*/
.feed-box-wrap span.swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: #0456fe;}
.feed-box-wrap .swiper-pagination-bullet { width: 10px; height: 10px; border-radius: 5px; background-color: #437cf3; margin: 6px;}
.feed-box-wrap .swiper-pagination.swiper-pagination-bullets { left: 0; right: 0;}
.feed-box-wrap .swiper-control button { width: 35px; height: 35px; border-radius: 17px; filter: drop-shadow(0 0 5px rgba(113,157,248,0.27)); background-color: #ffffff; font-size: 20px; color: #0456fe; text-align: center; border: transparent;}
/*porfolio*/
.porfolio-wrapper { position: relative;}
.porfolio-wrapper .swiper-control { width: 100%;}
.porfolio-wrapper .swiper-control,.porfolio-wrapper .swiper-control button { position: absolute; top: 45%; z-index: 1; transform: translateY(-55%);}
.porfolio-wrapper button.swipe-btn.prev-slide{ left: -17px;}
.porfolio-wrapper button.swipe-btn.next-slide{ right: -17px;}
.price-box p { font-size: 14px; line-height: 26px; color: rgba(36,38,43,0.5); font-weight: 400; font-family: 'Open Sans',sans-serif; text-align: right;}
.price-box p span { font-size: 15px; line-height: 26px; color: #0456fe; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: right; display: block;}
.price-box{ min-width: 90px;}
.work-detail.feed-detail p { font-size: 15px; line-height: 19px; color: rgba(36,38,43,0.8); font-weight: 400; font-family: 'Open Sans',sans-serif;}
.work-detail h5 { font-size: 15px !important; line-height: inherit; margin-bottom: 10px;}
.work-detail { border-bottom: 1px solid #f0f0f0; padding-bottom: 20px;}
.text-underline{ text-decoration: underline;}
.full-feed-box-wrap .box-header { padding: 20px 40px;}
.full-feed-box-wrap .box-content{ padding: 20px 40px 40px;}
.switch { position: relative; display: inline-block; width: 32px; height: 5px; margin-top: 12px;}
.switch input { opacity: 0; width: 0; height: 0;}
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #cbd8f3; -webkit-transition: .4s; transition: .4s;}
.slider:before { position: absolute; content: ""; left: -4px; bottom: 4px; transition: .4s; top: -8px; width: 20px; height: 20px; filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.22)); background-color: #0456fe;}
input:checked + .slider { background-color: #e1e1e1;}
input:focus + .slider { box-shadow: 0 0 1px #e1e1e1;}
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
/* Rounded sliders */
.slider.round { border-radius: 34px;}
.slider.round:before { border-radius: 50%;}
.visible-wrap p{ margin-bottom: 12px; margin-right: 10px; font-size: 14px; color: #24262b; font-weight: 600;}
p.text-black i { color: rgba(36, 38, 43,0.5);}
.trash-img{ margin-top: -4px;}
.online.dropdown-toggle::after{ display: none;}
.active-status.dropdown a { font-size: 13px; padding: 10px 6px; color: #24262b;}
.active-status.dropdown a:hover{ color: #0456fe;}
.active-status.dropdown li i { position: absolute; left: 15px; top: 7px; font-size: 12px;}
.active-status.dropdown li { position: relative; padding-left: 30px;}
.card.box-card.proposal-box-card .box-header { padding: 25px 40px;}
.card.box-card.proposal-box-card .box-content { padding: 30px 40px;}
.proposal-box-card .box-header h5{ font-size: 22px; letter-spacing: 0px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.proposal-box-card .form-group label { font-size: 18px; line-height: 26px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.form-check label.form-check-label { font-size: 14px; line-height: 26px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; cursor: pointer;}
.form-check label.form-check-label span{ color: rgba(36,38,43,0.6);}
.proposal-box-card small { font-size: 14px; line-height: 26px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; margin-top: 15px; display: block;}
.proposal-box-card .icon-wrap p{ font-size: 14px; line-height: 26px; color: rgba(36,38,43,0.6); font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: right; min-width: 170px;}
.skill-text{ font-size: 18px; line-height: 26px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; margin-right: 10px; margin-top: 10px; min-width: 170px;}
.mobile-btn{ border-radius: 8px; background-color: #f7f7f7; border: 1px solid #f0f0f0;}
.skill-wrap { margin-top: 20px; border-top: 1px solid #f0f0f0;}
.blue-box { border-radius: 10px; background-color: #f5f8ff; border: 1px solid #e1eaff; padding: 40px;}
.blue-box h5{ font-size: 18px; line-height: 25px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center;}
.icon-img-wrap { width: 40px; height: 40px; border-radius: 10px; background-color: #ffffff; border: 1px solid #0456fe; display: flex; align-items: center; justify-content: center; margin-right: 13px; margin-bottom: 30px;}
.inter-list h6 { font-size: 15px; line-height: 20px; color: #24262b; font-weight: 700; font-family: 'Open Sans',sans-serif;}
.inter-list p,.profile-rate-list p { font-size: 14px; line-height: 26px; color: rgba(36,38,43,0.6); font-weight: 400; font-family: 'Open Sans',sans-serif;}
.box-shadow-none{ box-shadow: none !important;}
/*profile-rate-list*/
.profile-rate-list .form-inline label { font-size: 18px; letter-spacing: 2px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.profile-rate-list input.form-control { font-size: 16px; letter-spacing: 0px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: right; max-width: 174px; height: 43px; border-radius: 8px !important; background-color: #f7f7f7; border: 1px solid #f0f0f0; padding: 10px 20px; margin-right: 10px;}
.profile-rate-list input.form-control::placeholder{ color: #24262b; font-weight: 600;}
.profile-rate-list .input-group-prepend { position: absolute; z-index: 4; top: 6px;}
.profile-rate-list i{ color: #0456fe;}
.profile-rate-list .input-group-text { background: transparent; border: 0;}
.profile-rate-list h6 { font-size: 15px; line-height: 26px; color: #24262b; font-weight: 700; font-family: 'Open Sans',sans-serif;}
li.profile-rate-list { border-bottom: 1px solid #f0f0f0; padding-bottom: 10px; margin-bottom: 17px;}
li.profile-rate-list:last-child { border: 0; padding: 0; margin: 0;}
.rate-wrap p{ font-size: 16px; line-height: 26px; color: rgba(36,38,43,0.6); font-weight: 600; font-family: 'Open Sans',sans-serif;}
.propasal-head h6{ font-size: 20px; line-height: 26px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; padding-bottom: 15px;}
/*additional-box-content*/
.additional-box-content textarea.form-control { min-height: 140px; border-radius: 3px; background-color: #ffffff; border: 1px solid #ced4da;}
.additional-box-content label { font-size: 14px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.additional-box-content .styled_ul li { padding-left: 30px; margin-bottom: 5px; color: rgba(36, 38, 43, 0.8); font-size: 15px; line-height: 30px;}
.additional-box-content .blue-box h5.mt-3 { font-size: 16px; line-height: 22px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center;}
.additional-box-content a.btn-upload{ border-radius: 7px; background-color: #0456fe; font-size: 16px; letter-spacing: 0px; color: #ffffff; font-weight: 400; font-family: 'Open Sans',sans-serif; padding: 9px 24px;}
.additional-box-content a.btn-upload i{ color: #fff !important;}
.additional-box-content a.btn-upload:hover { background: #1e68ff;}
.additional-box-content .blue-box { padding: 27px 20px; margin-top: 33px;}
/*file-drop-area */
.file-drop-area { position: relative; display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; max-width: 100%; -webkit-transition: 0.2s; transition: 0.2s; border-radius: 3px; background-color: #f5f8ff; border: 1px solid #e1eaff; padding: 23px 20px; margin-top: 33px; flex-wrap: wrap; justify-content: center; min-height: 140px;}
.file-drop-area.is-active { background-color: rgba(255, 255, 255, 0.05);}
.fake-btn { flex-shrink: 0; text-transform: capitalize; border-radius: 7px; background-color: #0456fe; font-size: 16px; letter-spacing: 0px; color: #ffffff; font-weight: 400; font-family: 'Open Sans',sans-serif; padding: 9px 24px; display: block; margin-bottom: 10px;}
.file-msg { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 16px; line-height: 22px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center; display: block; width: 100%;}
.file-input { position: absolute; left: 0; top: 0; height: 100%; width: 100%; cursor: pointer; opacity: 0;}
.file-input:focus { outline: none;}
.dark-blue-box{ background: rgba(4,86,254,0.10);}
.feed-box-wrap .meta-tag .star-wrap ul li i { font-size: 12px;}
a.renew-link{ font-size: 16px;}
ul.inner-links.bordered-inner-links li .edit-info p { font-weight: 600;}

/*tab-list-view*/
.work-diary-page select.form-control{ font-size: 16px; color: #24262b; font-family: 'Roboto',sans-serif;  min-width: 545px; padding-right: 40px;}
select.form-control.time-zone-dropdown{ min-width: 200px;background-position: 93% 50%;}
.calendar-wrap a{ font-size: 15px; color: #24262b;}
.btn.btn-theme.time-btn{text-decoration: none; font-size: 13px; letter-spacing: 1px; color: #fffefe; min-width: 214px; padding: 11px; text-transform: uppercase;}
ul.nav.nav-tabs.tab-list-view { box-shadow: 0px 2px 1px rgba(22,24,27,0.03); background-color: #ffffff; border: 1px solid #f0f0f0; margin-bottom: 10px; border-radius: 3px;}
ul.nav.nav-tabs.tab-list-view i { font-size: 15px; line-height: 20px; color: #919295; display: flex; align-items: center; justify-content: center; padding: 10px;}
ul.nav.nav-tabs.tab-list-view li { width: 39px; height: 39px; transition: all ease 0.5s;}
ul.nav.nav-tabs.tab-list-view li a{ display: block; border-bottom: 0;}
ul.nav.nav-tabs.tab-list-view li a.active { background-color: #0456fe; color: #fff; border-radius: 3px;}
ul.nav.nav-tabs.tab-list-view li a.active i { color: #fff;}
.total-info-wrap { display: flex; flex-wrap: wrap;}
a.btn.btn-outline-primary { font-size: 13px; letter-spacing: 1px; color: #0456fe; font-weight: 600; font-family: 'Open Sans',sans-serif; text-transform: uppercase; min-width: 99px; border-radius: 5px; background-color: #ffffff; border: 1px solid #0456fe; padding: 9px 23px; margin-left: 6px; margin-bottom: 5px;}
.btn-outline-wrap { max-width: 412px; width: 100%;}
a.btn.btn-outline-primary:hover { color: #fff; background: #0456fe;}
.green-box{ width: 15px; height: 15px; border-radius: 5px; background-color: #75ae88; display: inline-block;}
.blue-checkbox{ width: 15px; height: 15px; border-radius: 5px; background-color: #ccdefe; display: inline-block;}
.total-info-wrap p { font-size: 14px; letter-spacing: 0px; color: #737477; font-weight: 400; font-family: 'Open Sans',sans-serif; display: flex; align-items: center; margin-right: 30px;}
.total-info-wrap span { font-size: 14px; letter-spacing: 0px; color: #24262b; font-weight: 700; font-family: 'Open Sans',sans-serif;}
.support-wrap{ border-radius: 5px; background-color: #f7f7f7; padding: 5px 15px;}
.custom-control-label{ cursor: pointer;}
.process-box-wrap span.boxes { width: 7px; height: 11px; background-color: #0456fe; display: inline-block; margin: 0 -1px;}
.ss-img .img-wrp { max-width: 219px; min-height: 125px; border-radius: 3px; background-color: #ffffff; border: 1px dotted #ced4da; width: 100%; margin: 0 auto; height: 100%;}
span.green-progress-bar { width: 100%; height: 10px; background-color: #75ae88; display: block; border-radius: 20px 0px 0 20px; margin-top: 8px;}
span.blue-progress-bar{ width: 100%; height: 10px; background-color: #ccdefe; display: block; border-radius: 20px 0px 0 20px; margin-top: 8px;}
span.green-progress-bar.single-ss-green-progress-bar { width: 19%;}
.clndr-input{ position: relative; max-width: 170px; width: 100%;}
i.gj-icon { display: none;}
.clndr-input i { position: absolute; /*z-index: 3;*/ left: 12px; top: 12px;}
span.input-group-append { order: 1; border:0 !important; background: transparent;}
span.input-group-append,button.btn.btn-outline-secondary.border-left-0{ border:0 !important; background: transparent;}
input#datepicker { order: 2; width: 100%; border:0 ; font-size: 15px; color: #24262b; font-weight: 600;}
/*fancybox css start*/
.fancybox_inner{display: flex;width: 100%;}
.fancybox_center{justify-content:center;}
.fancybox_part{margin-bottom: 25px;justify-content:center;display: inline-block;text-align: center;width: 100%;}
.fancybox_title{display: flex;justify-content:center;width: 100%;margin: 40px 0px;}
.fancybox-nav span {visibility: visible !important;}
.fancybox-skin { padding: 5px !important;}

/*fancybox css end*/

/*reports*/
.tab-container { border-radius: 10px; box-shadow: 0px 2px 1px rgba(22,24,27,0.03); background-color: #ffffff; border: 1px solid #f0f0f0; overflow: hidden;}
.tab-container .nav-tabs { border-bottom: 1px solid #f0f0f0; background-color: #f5f8ff;}
.tab-container h2 { font-size: 35px; letter-spacing: 0px; color: #24262b; font-weight: 700; font-family: 'Open Sans',sans-serif; text-align: center; padding: 38px 0 20px;}
.tab-container h2 span { font-size: 14px; letter-spacing: 0px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; text-align: center; display: block;}
.tab-container ul li { width: 25%;}
.tab-container ul li a{ border-bottom: 4px solid transparent; display: block; width: 100%; position: relative; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.tab-container ul li a.active { border-radius: 4px; border-bottom: 4px solid #0456fe;}
.tab-container ul li a.active h2 { color: #0456fe;}

/*job-table-wrap*/
.tab-body p{ font-size: 18px; color: rgba(36,38,43,0.64); font-weight: 600;}
.tab-link a{ font-size: 16px; line-height: 19px; color: #0456fe; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.tab-table-wrap { padding: 40px;}
.tab-body p.info-para{ font-size: 16px; color: #737477; position: relative; padding-left: 20px;}
.tab-body p.info-para span{ color: #24262b;}
.green-triangle { width: 0; height: 0; border-top: 10px solid #75ae88; border-left: 10px solid transparent; position: absolute; left: 0; top: 7px;}
.job-table-wrap .table thead th { vertical-align: middle; min-width: 80px; font-size: 14px; letter-spacing: 0px; color: #000000; font-weight: 600; font-family: 'Open Sans',sans-serif; text-align: center; padding: 6px 12px; border-bottom: 0;}
.job-table-wrap .table td { font-size: 14px; letter-spacing: 0px; color: #000000; font-weight: 400; font-family: 'Open Sans',sans-serif; text-align: center; vertical-align: middle;}
.job-table-wrap .table-bordered td,
.job-table-wrap .table-bordered th { border: 1px solid #f0f0f0;}
.job-table-wrap .table td:first-child { color: #0456fe; font-weight: 600; text-align: left; min-width: 260px;}
.job-table-wrap .table td:last-child,.job-table-wrap .table thead th:last-child { text-align: right; min-width: 98px;}
.job-table-wrap td.table-note { position: relative;}
.job-table-wrap td.table-note .green-triangle { left: auto; right: 0; top: 0;}
.gray-blod-text{ color: rgba(36,38,43,0.64) !important; font-weight: 600;}

/*profile-setting-page*/
.profile-setting-page .setting-box-detail .form-check label.form-check-label { font-size: 14px; line-height: 22px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.profile-setting-page p.text-gray { color: #919295 !important;}
.experience-checkbox-wrap h6.title-check { font-size: 18px; color: rgba(36,38,43,0.6);}
.experience-checkbox-wrap .cs-checkbox p { font-size: 14px !important; line-height: 22px !important; color: #919295 !important; font-weight: 400; font-family: 'Open Sans',sans-serif; text-align: center;}
.experience-checkbox-wrap input[type=radio]:checked ~ .cs-checkbox .title-check { color: #0456fe;}
.experience-checkbox-wrap input[type=radio]:checked ~ .cs-checkbox p{ color: #24262b !important;}
.categories-setting-box-content .setting-box-detail a { font-size: 14px; letter-spacing: 0px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; text-decoration:none;}
.graphic-design h5{ font-size: 16px; line-height: 19px; color: #24262b; font-weight: 700; font-family: 'Open Sans',sans-serif;}
.graphic-design h5 span{ color: #24262b; font-weight: 400;}
.btn.btn-theme.time-btn.specialized-btn{ min-width: 263px;}
.social-links-setting-wrap ul li {max-width: 348px;width: 100%;border-radius: 5px; box-shadow: 0px 14px 9px rgba(113,157,248,0.18); background-color: #444444; border: 1px solid #f1f5fe; font-size: 16px; letter-spacing: 1px; color: #ffffff; font-weight: 600; font-family: 'Open Sans',sans-serif; padding: 12px 20px; margin-bottom: 15px; text-transform: uppercase; align-items: center; border: 1px solid #f1f5fe;}
.social-links-setting-wrap li span { font-size: 12px; color: #ffffff; font-weight: 400; font-family: 'Open Sans',sans-serif; text-align: right; text-transform: capitalize;}
.get-paid-page .setting-box .setting-box-content .setting-box-detail h6{ font-size: 16px; line-height: 19px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; padding-bottom: 10px;}
.get-paid-page .setting-box .setting-box-content a.btn.btn-theme.time-btn { min-width: 160px;}
hr { border-color: #f0f0f0;}
.team-info p ,.team-info a{ font-size: 14px !important; padding-bottom:3px !important;}

/*client-job-page*/
.client-job-page .jobs-cards .grid-item{ width: 50%;}
.client-job-page span.user-invite { width: 40px; height: 40px; border-radius: 20px; box-shadow: 0px 5px 4px rgba(113,157,248,0.12); background-color: #ffffff; display: inline-block; line-height: 34px; padding: 0 10px;}
.client-job-page a.btn.btn-theme.btn-radius{ font-size: 13px; letter-spacing: 1px; color: #fffefe; text-transform: uppercase; min-width: 174px; padding: 9px 20px; border: 1px solid transparent;}
.client-job-page a.btn.btn-theme.btn-radius.btn-outline{ border: 1px solid #0456fe; background: transparent; color: #0456fe; margin-left: 10px;}
.client-job-page a.btn.btn-theme.btn-radius:hover{ background: #24262b;}
.client-job-page a.btn.btn-theme.btn-radius.btn-outline:hover{ background-color: #0069d9; color: #fff;}
.client-job-page .card.jobs-cards { border-radius: 10px; box-shadow: 0px 2px 1px rgba(22,24,27,0.03); background-color: #ffffff; border: 1px solid #f0f0f0; margin-bottom: 20px;}
.client-job-page .jobs-cards .card {margin-bottom: 0; padding: 20px 60px 20px 20px;border-radius: 5px; box-shadow: 0px 2px 1px rgba(22,24,27,0.03); background-color: #ffffff; border: 1px solid #f0f0f0;}
.client-job-page .jobs-cards > .box-header { padding: 18px 40px;}
.client-job-page .jobs-cards > .box-content{ padding: 0px 25px;}
.client-job-page a.post-link{ font-size: 16px; letter-spacing: 0px; color: #0456fe; border-bottom: 1px solid #0456fe; font-weight: 600;}
.client-job-page a.post-link:hover{ color: #000;}
.client-job-page .media .media-body h5 { font-size: 14px; line-height: 20px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;}
.client-job-page .media .media-body p{ font-size: 14px; line-height: 20px; color: #737477; font-weight: 400;}
.client-job-page span.job_small_title { font-size: 14px; line-height: 20px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; margin-top: 10px;}
.client-job-page .work-detail h5 { font-size: 16px; line-height: 22px; max-width: 380px; width: 100%;}
.client-job-page .work-detail.feed-detail p { font-size: 14px; line-height: 20px; color: rgba(36,38,43,0.64);}
.client-job-page .trash-icon a { border: 0;}
.client-job-page .trash-icon a:hover{ text-decoration: none !important; border-bottom: 0 !important;}
.client-job-page .trash-icon a:hover img, .trash-icon a:hover i{ opacity: 1;}
.client-job-page .proposals-box ul li { min-width: 100px;}
.client-job-page p.box-info-para{ font-size: 14px; letter-spacing: 0px; line-height: 24px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; margin-bottom: 20px;}
.client-job-page a.btn.btn-primary.btn-block { font-size: 13px; letter-spacing: 1px; text-transform: uppercase;}
.client-job-page ul.feed-links li a { font-size: 16px; letter-spacing: 0px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif; padding: 0 0px 16px;}
.client-job-page ul.feed-links li a:hover { background: transparent; color: #0456fe; }
.client-job-page .jobs-cards .card h6 a { font-size: 16px; line-height: 22px; color: #24262b; font-weight: 700; font-family: 'Open Sans',sans-serif; border-bottom: 0; text-decoration: none;}
.client-job-page .jobs-cards .card h6 a:hover,.client-job-page .work-detail h5 a:hover{ color: #0456fe; text-decoration: none; border-color: transparent;}
.client-job-page .work-detail h5 a { font-size: 16px; color: #24262b; font-weight: 700;}
.client-job-page .dropdown-menu { padding: 0;}
.client-job-page .media img { max-width: 40px; width: 100%;}

/*-----------signup-step-container-------------*/
.signup-step-container input:focus,
.signup-step-container button:focus,
.signup-step-container .form-control:focus{ outline: none; box-shadow: none;}
.signup-step-container .form-control:disabled,.signup-step-container .form-control[readonly]{ background-color: #fff;}
/*---------signup-step-------------*/
.signup-step-container .bg-color{ background-color: #333;}
.signup-step-container .signup-step-container{ padding: 150px 0px; padding-bottom: 60px;}
.signup-step-container .wizard .nav-tabs { position: relative; margin-bottom: 0; border-bottom-color: transparent;}
.signup-step-container .wizard > div.wizard-inner { position: relative; margin-bottom: 0px; text-align: center;}
.signup-step-container .connecting-line { height: 2px; background: #e0e0e0; position: absolute; width: 75%; margin: 0 auto; left: 0; right: 0; top: 15px; z-index: 1;}
.signup-step-container .wizard .nav-tabs > li.active > a,
.signup-step-container .wizard .nav-tabs > li.active > a:hover,
.signup-step-container .wizard .nav-tabs > li.active > a:focus { color: #0456fe; cursor: default; border: 0; border-bottom-color: transparent;}
.signup-step-container ul.feed-links li:before{ left: 0; z-index: 1;}
/*.signup-step-container span.round-tab { width: 30px; height: 30px; line-height: 30px; display: inline-block; border-radius: 50%; background: #fff; z-index: 2; text-align: center; font-size: 16px; color: #0e214b; font-weight: 500; border: 1px solid #ddd;}
.signup-step-container .wizard li.active span.round-tab { background: #0db02b; color: #fff; border-color: #0db02b;}*/
.signup-step-container .wizard li.active span.round-tab i{ color: #5bc0de;}
.signup-step-container .wizard .nav-tabs > li.active > a i{ color: #0456fe;}
.signup-step-container .wizard .nav-tabs > li.active > a .round-tab i{ color: #0456fe;}
.signup-step-container .wizard .nav-tabs > li { width: 100%;}
.signup-step-container .wizard li:after { content: " "; position: absolute; left: 46%; opacity: 0; margin: 0 auto; bottom: 0px; border: 5px solid transparent; border-bottom-color: red; transition: 0.1s ease-in-out;}
.signup-step-container .wizard .nav-tabs > li a { position: relative; font-size: 16px; letter-spacing: 0px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif;  width: 100%; text-align: left; display: flex; justify-content: space-between; padding: 13px 30px;}
.signup-step-container .wizard .nav-tabs > li a i{ font-style: normal; white-space: nowrap; font-size: 17px; letter-spacing: 0px; color: rgba(36,38,43,0.5);}
.signup-step-container .wizard .nav-tabs > li span.round-tab i{ color:rgba(36,38,43,0.2);}
/*.signup-step-container .wizard .nav-tabs > li a:hover {background: transparent;}*/
.signup-step-container .wizard .nav-tabs > li a span.step-icon i { min-width: 30px;}
.signup-step-container .wizard .tab-pane { position: relative; padding-top: 20px;}
.signup-step-container .wizard h3 { margin-top: 0;}
.signup-step-container .prev-step,
.signup-step-container .next-step{ border: none;}
.signup-step-container .next-step{ background-color: #0456fe;}
.signup-step-container .skip-btn{ background-color: #cec12d;}
.signup-step-container .step-head{ font-size: 20px; text-align: center; font-weight: 500; margin-bottom: 20px;}
.signup-step-container .term-check{ font-size: 14px; font-weight: 400;}
.signup-step-container .custom-file { position: relative; display: inline-block; width: 100%; height: 40px; margin-bottom: 0;}
.signup-step-container .custom-file-input { position: relative; z-index: 2; width: 100%; height: 40px; margin: 0; opacity: 0;}
.signup-step-container .custom-file-label { position: absolute; top: 0; right: 0; left: 0; z-index: 1; height: 40px; padding: .375rem .75rem; font-weight: 400; line-height: 2; color: #495057; background-color: #fff; border: 1px solid #ced4da; border-radius: .25rem;}
.signup-step-container .custom-file-label::after { position: absolute; top: 0; right: 0; bottom: 0; z-index: 3; display: block; height: 38px; padding: .375rem .75rem; line-height: 2; color: #495057; content: "Browse"; background-color: #e9ecef; border-left: inherit; border-radius: 0 .25rem .25rem 0;}
.signup-step-container .footer-link{ margin-top: 30px;}
.signup-step-container .all-info-container{}
.signup-step-container .list-content{ margin-bottom: 10px;}
.signup-step-container .list-content a{ padding: 10px 15px; width: 100%; display: inline-block; background-color: #f5f5f5; position: relative; color: #565656; font-weight: 400; border-radius: 4px;}
.signup-step-container .list-content a[aria-expanded="true"] i{ transform: rotate(180deg);}
.signup-step-container .list-content a i{ text-align: right; position: absolute; top: 15px; right: 10px; transition: 0.5s;}
.signup-step-container .form-control[disabled],
.signup-step-container .form-control[readonly],
.signup-step-container fieldset[disabled] .form-control { background-color: #fdfdfd;}
.signup-step-container .list-box{ padding: 10px;}
.signup-step-container .signup-logo-header .logo_area{ width: 200px;}
.signup-step-container .signup-logo-header .nav > li{ padding: 0;}
.signup-step-container .signup-logo-header .header-flex{ display: flex; justify-content: center; align-items: center;}
.signup-step-container .list-inline li{ display: inline-block;}
.signup-step-container .pull-right{ float: right;}
/*----------Custom-Checkbox---------*/
.signup-step-container input[type="checkbox"]{ position: relative; display: inline-block; margin-right: 5px;}
.signup-step-container input[type="checkbox"]::before,
.signup-step-container input[type="checkbox"]::after { position: absolute; content: ""; display: inline-block; }
.signup-step-container input[type="checkbox"]::before{ height: 16px; width: 16px; border: 1px solid #999; left: 0px; top: 0px; background-color: #fff; border-radius: 2px;}
.signup-step-container input[type="checkbox"]::after{ height: 5px; width: 9px; left: 4px; top: 4px;}
.signup-step-container input[type="checkbox"]:checked::after{ content: ""; border-left: 1px solid #fff; border-bottom: 1px solid #fff; transform: rotate(-45deg);}
.signup-step-container input[type="checkbox"]:checked::before{ background-color: #18ba60; border-color: #18ba60;}
.signup-step-container button.btn.btn-theme.default-btn.btn-outline{ background-color: transparent; border: 2px solid #0456fe; color: #0456fe; padding: 13px 15px;}
.signup-step-container button.btn.btn-theme.default-btn.btn-outline:hover{ background-color: #0456fe; border: 2px solid #0456fe; color: #fff;}
.signup-step-container .styled_ul li { margin-bottom: 0; font-size: 15px; line-height: 30px; color: rgba(36,38,43,0.64);}
.signup-step-container .setting-box .setting-box-content .job-category-wrap p{ font-size: 15px; line-height: 22px; color: rgba(36,38,43,0.64); margin-bottom: 10px;}
.signup-step-container .feed-head span{ font-size: 16px; color: rgba(36,38,43,0.5);}
.signup-step-container small { font-size: 14px; line-height: 22px; color: rgba(36,38,43,0.5);}
.signup-step-container .box { position: relative; background: #ffffff; width: 100%;}
.signup-step-container .box .box-header { color: #444; display: block; padding: 10px; position: relative; border-bottom: 1px solid #f4f4f4; margin-bottom: 10px;}
.signup-step-container .box .box-tools { position: absolute; right: 10px; top: 5px;}
.signup-step-container .dropzone-wrapper { position: relative; height: 128px; border-radius: 3px; background-color: #f5f8ff; border: 2px dashed #0456fe;}
.signup-step-container .dropzone-desc { position: absolute; margin: 0 auto; left: 0; right: 0; text-align: center; width: 100%; top: 50px; font-size: 16px;}
.signup-step-container .dropzone,.signup-step-container .dropzone:focus { position: absolute; outline: none !important; width: 100%; height: 150px; cursor: pointer; opacity: 0;}
.signup-step-container .dropzone-wrapper:hover,.signup-step-container .dropzone-wrapper.dragover { background: #ecf0f5;}
.signup-step-container .preview-zone { text-align: center;}
.signup-step-container .preview-zone .box { box-shadow: none; border-radius: 0; margin-bottom: 0;}
.signup-step-container .dropzone-desc p { font-size: 16px !important; line-height: 22px !important; color: #24262b !important; font-weight: 600; font-family: 'Open Sans',sans-serif; }
.signup-step-container .cs-checkbox .icon img { opacity: 0.5;}
.signup-step-container .main-hcekbox input[type=radio]:checked ~ .cs-checkbox .icon img { opacity: 1;}
.signup-step-container .cs-checkbox { padding: 25px 17px;}
.signup-step-container .text-gray-dark p{ color: rgba(36,38,43, 0.64) !important;}
a.btn.btn-theme.btn-default-long { font-size: 13px; letter-spacing: 1px; line-height: 18px; color: #ffffff; min-width: 200px; border-radius: 5px; padding: 10px 10px;}
.details-tab-pane .form-group input.form-control::placeholder,.details-tab-pane .form-control::placeholder { font-size: 16px; color: #24262b; font-weight: 400; font-family: 'Roboto',sans-serif; }
.details-tab-pane .custom-checkbox .custom-control-label::before { border-radius: 0;}
.details-tab-pane .form-group label { font-size: 15px; color: #505155; font-weight: 400; font-family: 'Open Sans',sans-serif; }
.signup-step-container a:hover .secureIcon {opacity: 1;}
.signup-step-container .skills-wraaper h6{ font-size: 14px; line-height: 26px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; }
.signup-step-container .skills-wraaper h6 span{ color: rgba(36,38,43,0.5); font-weight: 400;}
.signup-step-container ul.feed-tabs li a { font-size: 14px; letter-spacing: 0px; color: #24262b; font-weight: 400; font-family: 'Open Sans',sans-serif;  text-decoration: none;}
.signup-step-container .skills-wraaper li.view-more-link a{ font-size: 14px; letter-spacing: 0px; color: #0456fe; font-weight: 600; font-family: 'Open Sans',sans-serif;  text-decoration: underline; background-color: transparent;}
.signup-step-container .skills-wraaper li.view-more-link a:hover{ color: #000;}
/*review-tab-pane*/
.review-tab-pane .setting-box .setting-box-content .setting-box-detail h5 { font-size: 16px; line-height: 26px; color: #24262b; font-weight: 600; font-family: 'Open Sans',sans-serif; }
.review-tab-pane .setting-box .setting-box-content .setting-box-detail p { font-size: 15px; line-height: 19px; color: rgba(36,38,43,0.8); font-weight: 400; font-family: 'Open Sans',sans-serif; }
.review-tab-pane .setting-box .setting-box-content a { font-size: 15px; line-height: 19px; color: #0d5afe; font-weight: 600; font-family: 'Open Sans',sans-serif; }
.review-tab-pane .setting-box .setting-box-content a:hover{ color: #000;}
.review-tab-pane label.custom-control-label { font-size: 15px; color: #505155; font-weight: 400; font-family: 'Open Sans',sans-serif; }
.review-tab-pane label.custom-control-label span{ font-weight: 600;}
.review-tab-pane .custom-checkbox .custom-control-label::before { border-radius: 5px;}
.review-tab-pane .form-control::placeholder { font-size: 16px; letter-spacing: 0px; color: rgba(36,38,43,0.55); font-weight: 400; font-family: 'Roboto',sans-serif; }
/*visibility-tab-pane*/
.signup-step-container .visibility-tab-pane h6.title-check { margin-bottom: 10px; font-size: 16px;}
.signup-step-container .visibility-tab-pane  .cs-checkbox { padding: 25px 8px;}
.signup-step-container .visibility-tab-pane .job-checkbox .cs-checkbox { min-height: 195px;}
.signup-step-container .visibility-tab-pane .cs-checkbox .icon { font-size: 25px;}
.signup-step-container .visibility-tab-pane input.form-control::placeholder { font-size: 16px; color: rgba(36,38,43,0.5); font-weight: 400; font-family: 'Roboto',sans-serif;  }


.signup-step-container #step6 .cs-checkbox {
	padding: 25px 13px;
}
/* Footer section css start */
footer { background: #24262b; color: rgba(255, 255, 255, 0.5); font-family: 'Karla', sans-serif;}
footer ul { list-style: none;}
footer ul li,footer ul li a,footer ul li a:visited { font-size: 17px; color: rgba(255, 255, 255, 0.5);}
footer ul li a:hover { text-decoration: none; color: #fff; border-bottom: 1px solid #fff;}
.contact_details { padding-bottom: 30px;}
.contact_details li { position: relative; padding-left: 20px; line-height: 39px;}
.contact_details li a { line-height: inherit;}
.contact_details li>i { position: absolute; left: 0; top: 11px;}
.social_title { font-size: 18px; line-height: 49px; color: #fff;}
.foo_com_name { font-size: 33px; line-height: initial; margin-bottom: 10px; color: #fff}
.social_icons li { line-height: inherit; display: inline-block; vertical-align: middle; margin-right: 13px;}
.social_icons li a { height: 34px; width: 34px; display: block; text-align: center; line-height: 34px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 50%;}
.social_icons li a:hover { color: inherit; opacity: 0.5;}
.foo_title { margin-bottom: 10px; font-size: 20px; line-height: 49px; color: #fff}
.footer_menu li { font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 30px;}
.site_map_menu li a { font-size: 12px;}
.footerBtm ul li { font-size: 12px; line-height: 15px; padding: 0 16px; position: relative;}
.footerBtm ul li:first-child:before { display: none;}
.footerBtm ul li:before { position: absolute; width: 1px; height: 100%; background: rgba(255, 255, 255, 0.5); left: 0; right: 0; content: ''; top: 0;}
.footerBtm ul li:first-child { padding-left: 0;}
.footerBtm ul li:last-child { padding-right: 0;}
.footerBtm { padding: 36px 0; border-top: 1px solid #2d2f34;}
/* Footer section css end */


/* Dharti CSS */
.jkl {
	color: #000;
}

/* aksha CSS */
.aks {
	color: #000;
}