@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?85dl31');
  src:  url('fonts/icomoon.eot?85dl31#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?85dl31') format('truetype'),
    url('fonts/icomoon.woff?85dl31') format('woff'),
    url('fonts/icomoon.svg?85dl31#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-workhome:before {
  content: "\e919";
}
.icon-contract:before {
  content: "\e900";
}
.icon-date:before {
  content: "\e901";
}
.icon-headphone:before {
  content: "\e902";
}
.icon-icon2:before {
  content: "\e903";
}
.icon-megaphone:before {
  content: "\e904";
}
.icon-monitor:before {
  content: "\e905";
}
.icon-pay:before {
  content: "\e906";
}
.icon-planning:before {
  content: "\e907";
}
.icon-team:before {
  content: "\e908";
}
.icon-web:before {
  content: "\e909";
}
.icon-write:before {
  content: "\e90a";
}
.icon-analytics:before {
  content: "\e90b";
}
.icon-chat-box:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e90d";
}
.icon-checkmark:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-facebook-f:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-angle-down:before {
  content: "\e913";
}
.icon-angle-up:before {
  content: "\e914";
}
.icon-angle-right:before {
  content: "\e915";
}
.icon-angle-left:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
